{% extends PATH+"/inc/layout_case.html" %}

{% block case_content %}

<div class="container">
  {#
    this is a macro: pass the name of the selected item
    and the number for the url.
    Code in inc/layout_case.html
  #}
  {{ case_tabs("case",1) }}

  <div class="grid-row">

    <div class="column-third">
        {{ case_nav('onlineapp') }}
    </div><!-- column -->
    <div class="column-two-thirds">

      <p class="mb0 mt30">5pm – 12th July 2017</p>
      <h2 class="heading-large mt0" id="onlineapp">Online application</h2>

      <table>
        <tr>
          <td class="bold nobr">How is your job harder?</td>
          <td class="cust_info">I find it difficult to be able to get into work. Because of my condition I cannot be around people so getting to work on Public Transport is something I cannot do. I get anxiety and if this isn't addressed quickly I can become agitataed and sometimes violent.</td>
        </tr>
        <tr>
          <td class="bold nobr">What do you do now?</td>
          <td class="cust_info">{{ case.job_what_do_now | default("Not answered")}}</td>
        </tr>
        <tr>
          <td class="bold nobr">What do you want?</td>
          <td class="cust_info">To travel to work by Taxi so avoiding Public Transport and not being put in a position where I can be a harm to myslef and others</td>
        </tr>
        <tr>
          <td class="bold nobr">How is your travel harder?</td>
          <td class="cust_info">Becasue I cannot tolerate public places and public transport I rely on family to give me a lift currently.</td>
        </tr>
        <tr>
          <td class="bold nobr">What do you do now?</td>
          <td class="cust_info">{{ case.travel_what_do_now | default("Not answered")}}</td>
        </tr>
        <tr>
          <td class="bold nobr">What do you want?</td>
          <td class="cust_info">{{ case.travel_what_need | default("Not answered") }}</td>
        </tr>
      </table>
    </div><!-- column-full -->
  </div><!-- grid-row -->
</div><!-- container -->

{% endblock %}
