{% extends "staff/v2/_inc/govuk_template-staff.html" %}

{% block head %}
  <link href="/public/stylesheets/staff/v2.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
	Access To Work - Staff Access
{% endblock %}

{% block full_header %}
<header role="banner" id="global-header">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="/" title="Go to the homepage" id="logo" class="content">
          <img src="{{asset_path}}images/gov.uk_logotype_crown_invert_trans.png" width="35" height="31" alt="" style=>
        </a>
      </div>
      <div class="header-proposition">
        <div class="content">
          <nav id="proposition-menu">
            <div style="float:right;color:white;font-size:16px;font-weight:bold;padding-top:7px;padding-right:30px">John Goldsmith</div>
            <a href="/" id="proposition-name">{{serviceName}}</a>            
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

{{ loggedin | log }}
<!--end header-->
{% endblock %}


{% block header_class%}with-proposition{% endblock %}

{% block body_end %}
  {% include "staff/v2/_inc/scripts.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% block staff_content %}{% endblock %}

</main>

{% endblock %}
