{% extends TEMPLATE_FOLDER+"/layout.html" %}

{% block staff_content %}

  
<!--  NAVIGATION HEADER -->
  <div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">
        <li id="nav-home" class="selected"><a href="/adviser">My cases</a></li>
        <li id="nav-case"><a href="advisers">My team</a></li>
        <li id="nav-dash"><a href="search">Search</a></li>    
    </ul>
  </div>
  <div class="external-links-wrapper">
    <ul class="external-links">
      <li class="main-nav-link"><a href="all-teams">All teams</a></li>
      <span class="pipe">|</span>
      <li class="main-nav-link"><a href="all-advisers">All advisers</a></li>
    </ul>
  </div>
</div>  

{% endblock %}

