{% extends "layout.html" %}

{% block page_title %}
  Claim overview
{% endblock %}

{% block content %}

<main id="content" role="main">

  

        <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>

     <div class="grid-row">
     
      <div class="column-full">

          <main id="content" role="main">

          <h1 class="heading-large">
            Review and send your claim
          </h1>

          <table>
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>30 November to 1 December 2016</td>
                <td class="numeric">Travel - while in work work</td>
                <td class="numeric">£50</td>
                <td class="change-answer">
                  <a href="/payments-v1/single-travel">
                    Change <span class="visuallyhidden">Type of travel</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>1 November to 30 November 2016</td>
                <td class="numeric">Travel - to and from work</td>
                <td class="numeric">£240</td>
                <td class="change-answer">
                  <a href="/payments-v1/multi-travel">
                    Change <span class="visuallyhidden">Type of travel</span>
                  </a>
                </td>
              </tr>
              <tr>
               <td>1 December to 31 December 2016</td>
                <td class="numeric">Travel - to and from work</td>
                <td class="numeric">£260</td>
                <td class="change-answer">
                  <a href="/payments-v1/multi-travel">
                    Change <span class="visuallyhidden">Type of travel</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

         <!-- <table class="check-your-answers">

            <thead>
              <tr>
                <th colspan="1">
                  <h2 class="heading-medium">
                    Date
                  </h2>
                </th>
                <th colspan="2">
                  <h2 class="heading-medium">
                   Type
                   </h2>
                </th>
                 <th colspan="3">
                  <h2 class="heading-medium">
                   Ammount
                   </h2>
                </th>
              </tr>
            </thead>
            

            <tbody>

              <tr>
                <td>
                  22 November to 26 November 2016
                </td>
                <td>
                  Travel
                </td>
                <td>
                  £50
                </td>
                <td class="change-answer">
                  <a href="/payments-v1/single-travel">
                    Change <span class="visuallyhidden">Type of travel</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  29 November to 3 December 2016
                </td>
                <td>
                  Travel
                </td>
                <td class="change-answer">
                  <a href="/payments-v1/single-travel">
                    Change <span class="visuallyhidden">Type of travel</span>
                  </a>
                </td>
              </tr>
               <tr>
                <td>
                  Site of export
                </td>
                <td>
                  Site of export name
                </td>
                <td class="change-answer">
                  <a href="#">
                    Change <span class="visuallyhidden">Site of export name</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  Importer
                </td>
                <td>
                  Importer name<br>
                  First line of address<br>
                  Second line of address<br>
                  Contact: Contact Name<br>
                  Tel: 01234 567 890<br>
                  Email: email@email.com
                </td>
                <td class="change-answer">
                  <a href="#">
                    Change <span class="visuallyhidden">Importer name</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  Recovery facilities
                </td>
                <td>
                  Recovery facilities name
                </td>
                <td class="change-answer">
                  <a href="#">
                    Change <span class="visuallyhidden">Recovery facilities name</span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  Recovery site
                </td>
                <td>
                  Recovery site name
                </td>
                <td class="change-answer">
                  <a href="#">
                    Change <span class="visuallyhidden">Recovery site name</span>
                  </a>
                </td>
              </tr> 
            </tbody>
          </table> -->

          <div class="form-group">
            <p><a href="/payments-v2/claim-type">Add another claim</a></p>
          </div>
            
          <h2 class="heading-medium">Now send your claim</h2>

          <p>Your claim will now be sent to the contact you named for verifying.</p>

          <fieldset>
          <legend class="form-label-bold dec-legend" id="app">By sending this claim you agree that:</legend>

          <div class="form-group">
            <ul class="list-bullet" aria-labelledby="app">
              <li>the information in this claim is correct as far as you know</li>
              <li>you'll tell the Access to Work unit about any changes to your condition or circumstances, eg if your place of work changes</li>
              <li>you agree to the <a href="email">email terms</a></li>
            </ul>

            <div class="application-notice help-notice">
              <p>It might be a criminal offence if you knowingly give false information or don't report anything that would affect your grant, eg if your condition improves or you change where you work.</p>
            </div>
          </div>

        </fieldset>

          <div class="form-group">
            <a href="/payments-v2/what-happens-next" class="button">Agree and send claim</a>
          </div>

      </main>

                  
    </div>
         
         <div class="column-one-third">

         </div>

  </div>    
</main>

{% endblock %}
