{% extends "layout.html" %}

{% block page_title %}
  Claim type
{% endblock %}

{% block content %}



<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <form class="form" method="post">

    <h1 class="form-title heading-large">What are you claiming for?</h1>

    <fieldset class="form-group">
      
      
      <div class="multiple-choice">
          <input id="radio-1" type="radio" name="claimtype" value="Travel">
          <label for="radio-1">Travel</label>
      </div>

      <div class="multiple-choice">
          <input id="radio-2" type="radio" name="claimtype" value="Oneoff">
          <label for="radio-2">Equipment or adaptation</label>
      </div>
      <div class="multiple-choice">
          <input id="radio-3" type="radio" name="claimtype" value="Support">
          <label for="radio-3">Suport work</label>
      </div>

    </fieldset>
        
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

</main>

{% endblock %}
