{% extends "layout.html" %}

{% block page_title %}
  Claim type
{% endblock %}

{% block content %}



<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <form class="form" method="post">

    <h1 class="form-title heading-large">What are you claiming for?</h1>

    <fieldset class="form-group">
      
      <label class="block-label" for="radio-inline-1">
        <input id="radio-inline-1" type="radio" name="claimtype" value="Travel">
        Travel
      </label>
      <label class="block-label" for="radio-inline-2">
        <input id="radio-inline-2" type="radio" name="claimtype" value="Oneoff">
        Equipment or adaptation
      </label>
      <label class="block-label" for="radio-inline-3">
        <input id="radio-inline-3" type="radio" name="claimtype" value="Support">
        Support work
      </label>
    </fieldset>
        
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

</main>

{% endblock %}
