{% extends "layout.html" %}

{% block page_title %}
  Your details
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

      <h1 class="form-title heading-large">Who should we contact to verify your claim?</h1>

        <div class="form-group">
          <label class="form-label-bold" for="full-name">Full name</label>
          <input type="text" class="form-control" id="full-name">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="atw-ref">Relationship to you</label>
          <span class="form-hint">
          This could be your support worker for example.
          </span>
          <input type="text" class="form-control" id="atw-ref">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="atw-ref">Email address</label>
          <input type="text" class="form-control" id="atw-ref">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="atw-ref">Contact number</label>
          <input type="text" class="form-control" id="atw-ref">
        </div>
  
        <p> <a class="button" href="/payments-v2/self-claim-type">Continue</a></p>

</main>

{% endblock %}
