{% extends "layout.html" %}

{% block page_title %}
  Upload receipts
{% endblock %}

{% block content %}



<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    

    <h1 class="form-title heading-large">Upload your receipts</h1>

    <div class="form-group">
      <img src="/public/images/upload-receipts-image.png" alt="Instructions for how to take a photo of your receipts" />
    </div>  

    <p> <a class="button" href="/payments-v2/self-take-photo-overview">Continue</a></p>
        
    
</main>

{% endblock %}
