{% extends "layout.html" %}

{% block page_title %}
  Access to work payments
{% endblock %}



{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  
  <div class="grid-row">
    <div class="column-two-thirds">

       <h1 class="form-title heading-large">Make a claim</h1>

       <p>You can only use this service if you have returned your declaration.</p>

      <h2 class="heading-medium">Use this service to:</h2>

      <ul class="list list-bullet">
        <li>add your bank and payee details</li>
        <li>fill in your claim forms</li>
        <li>submit your receipt(s)</li>
      </uL>

      <h2 class ="heading-medium">Before you start</h2>

      <p>To use this service you will need to have:</p>
      <ul class="list list-bullet">
        <li>your bank details</li>
        <li>any other payee or supplier details</li>
        <li>receipts for your claims</li>
        <li>your employer&rsquo;s email address (for verifying your receipts)</li>
      </ul>
      
      

      <p>
        <a class="button button-start" href="/payments-v2/employment-type" role="button">Start now</a>
      </p>

  
    </div>
    <div class="column-third">

      
    </div>
  </div>

</main>

{% endblock %}