{% extends "layout.html" %}

{% block page_title %}
  Travel payments
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <form action="travel-type" method="post" class="form">

    <h1 class="form-title heading-large">What type of travel are you claiming for?</h1>

    <fieldset class="form-group">
      <legend class="form-label-bold" for="claim">What type of travel are you claiming for?</legend>
      
        <div class="multiple-choice">
            <input id="radio-1" type="radio" name="claim" value="travel1">
            <label for="radio-1">One off travel</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="claim" value="travel2">
          <label for="radio-2">Regular travel to and from work</label>
        </div>

    </fieldset>
        
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
    </form>
</main>

{% endblock %}
