// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';
@import "staff/_inc/timeline";

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import 'summary-nav';

.nav-horizontal {

  background-color: $grey-3;
  overflow: hidden;
  

  .main-nav-wrapper{
    width: 100%;
    
    ul {
      padding-left: 40px;
      float: left;
      margin: 0;
    }
    
    li {
      float: left;

      a {
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        color: $black;
      }
      &.selected a, &.selected a:hover {
        background-color: $turquoise;
        font-weight: bold;
        color: $white;
      }
    }  
  }
}

.secondary-bar {
  float: right;
  li {
  display:inline-block;
  }
}

.application-notice {
  padding: 0 4em 0 3em;
}

.help-notice {
  background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-132af33c6e868e9f8702ce2f968e3a03.png) no-repeat scroll 0 0.7em;
  background-size: 34px 34px;
}

.help-notice p {
  fontapplication-weight: 600;
}


.nav-tabs ol, .nav-tabs ul, .nav-tabs .tabs-nav {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;
}

@media (max-width: 640px){
  .nav-tabs li:first-child a, .nav-tabs .tabs-nav li:first-child a {
      border-left: none;
      border-top: 1px solid #bfc1c3;
  }
}

@media (max-width: 640px){
  .nav-tabs ol, .nav-tabs ul, .nav-tabs .tabs-nav {
      float: none;
      margin: 0 -16px;
  }
}

.completion {
  background: #28A197;
  text-align: center;
  padding: 2em 0;
  margin-top: 2em;
}

.completion h1 {
  color: #fff;
  }

details {
  position:relative;
  .quicklinks {
    position:absolute;
    background-color:white;
    padding:0 $gutter/2 $gutter/2;
    font-size:16px;
    border:1px solid $grey-2;
    border-top:none;
  }
}

.secondarybutton {
  background-color: #DEE0E2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0B0C0C;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

/// Style specifically for index page

.index-page-banner {
  background-color: $govuk-blue;
  color: $white;
  margin-bottom: $gutter;
}

.index-heading-wrapper {
  margin: 0 auto;
  max-width: 968px;
}

.index-heading-xlarge {
  margin: 0;
  padding: 3rem 0 1rem;
}

.index-heading-large {
  font-weight: normal;
  margin: 0;
  padding: 1rem 0 3rem;
}

@media screen and (max-width: 1020px) {
  .index-heading-xlarge,
  .index-heading-large {
    margin-left: $gutter;
  }
}

@media screen and (max-width: 640px) {
  .index-heading-xlarge,
  .index-heading-large {
    margin-left: $gutter / 2;
  }
}

.index-heading-medium {
  margin: 0;
  padding: 1rem 0;
}

.index-p {
  margin: 0;
}

.clearfix {
  clear: both;
  display: block;
}

.current-version {
  border-bottom: 1px solid $border-colour;
  padding-bottom: $gutter;
}

.older-versions {
  padding: $gutter / 2 0;
}

.older-version {
  border-bottom: 1px solid $border-colour;
  padding: 2rem 0 3rem;
}

.version-number {
  float: left;
}

.release-date {
  float: right;
  margin-right: 23%;
}

.start-journey {
  background: $green url('../images/icon-pointer.png') no-repeat right;
  font-size: 115%;
  font-weight: bold;
  margin: 1rem 0;
  padding-right: 4rem;
}

.older-toggle {
  padding-top: $gutter / 2;
  text-decoration: underline;
}

.grey-button {
  @include button($panel-colour);
  margin: 2rem 0;
}

.alert-success {
  border-color: $turquoise;
  background-color: mix(white, $turquoise, 90%);
}

#proposition-name {
      font-family: 'NotoSans', arial, sans-serif !important;
    }

// header search

.site-search {
  position: relative;
  margin-right: 20px;
}

.site-search input[type="search"]{
  width: 244px;
  margin-right: 37px;
  font-size: 16px;
  line-height: 1.4375;
  font-weight: 400;
  position: relative;
  padding: 6px;
  z-index: 3;
  box-sizing: border-box;
  float: right;
  right: 37px;
  min-width: 0;
  display: block;
  margin: 0;
  border: 0;
  min-height: 36px;
}

.site-search input[type=submit]{
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border: 1px solid $black;
  border-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  text-indent: -5000px;
  color: $page-colour;
  background-color: $turquoise;
  background-image: url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}    

.nav-horizontal{
  background-color: $grey-3;
  overflow: hidden;
  
  .main-nav-wrapper{
    width: 100%;
    
    ul {
      padding-left: 40px;
      float: left;
      margin: 0;
    }
    
    li{
      float: left;

      a {
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        color: $black;
      }
      &.selected a, &.selected a:hover {
        background-color: $govuk-blue;
        font-weight: bold;
        color: $white;
      }
    }  
  }

  .external-links-wrapper{
    float:right;

    ul {
      list-style: none;
      padding: 15px 40px 15px 0;
    }

    li {
      display: inline;
    
      a {
        color: $govuk-blue;
        font-size: 16px
      }
    }
  }
}
      

// End of Index page styles
