{% extends PATH + "/inc/layout.html" %}

{% block staff_content %}


{{ horizontal_nav('nav-unallocated') }}

  <div class="container">

  <h1 class="bold-xlarge mb30">Unallocated cases</h1>

    <div class="grid-row">
      <div class="column-full">

        <table class="zebra">
          <thead>
            <tr>
              <th style="padding-left:15px;">Name</th>
              <th>Specialism</th>
              <th>Case type</th>
              <th>Date submitted</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Oliver Reed</a></td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>10:25:01 25 May 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Martin Short</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>13:43:23 25 May 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Cheryl Cook</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>17:02:56 24 June 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Paul John-Jones</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>14:12:42 30 June 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Marcus Oliver</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>08:24:12 7 July 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Pauline McCallum</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>10:23:45 7 July 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Jonty Lee</td>
                <td>Visually impaired</td>
                <td>New application</td>
                <td>22:12:46 7 July 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Peter Keil</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>03:23:12 8 July 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Seamus Murphy</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>08:19:34 8 July 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Martin Smith</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>13:48:21 8 July 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Caitlin Rose</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>13:56:12 8 July 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Scott Moore</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>07:21:48 9 July 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
          </tbody>
        </table>

     </div><!-- column -->

    </div><!-- row -->

</div><!-- container -->

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('a').on('click', function(e){
      e.stopPropagation();
    });
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var href = $(this).attr('href');
      window.location.href = "/{{PATH}}/"+href;
    });
  });
</script>
{% endblock %}
