{% extends PATH + "/inc/layout.html" %}

{% block staff_content %}

{# this is a macro: pass the id of the selected iteam. Code in inc/layout.html #}
{{ horizontal_nav('nav-cases') }}

<div class="container">

   <div class="grid-row">
       <div class="column-one-third">
          <div class="font-large mb30"><span class="bold-large">Adviser:</span> John Goldsmith</div>
       </div> <!-- COLUMN ONW THIRD -->
       <div class="column-two-thirds">
       </div> <!-- COMUN TWO THIRDS -->
   </div> <!-- GRID ROW  -->

      <hr>

    <div class="grid-row">
      <div class="column-full">

        <table class="zebra" sortable>
          <thead>
            <tr>
              <th style="padding-left:15px;">Name</th>
              <th>Specialism</th>
              <th>Case type</th>
              <th>Date submitted</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Oliver Reed</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>25 May 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Mavis Prince</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>10:23:12 29 June 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Malcolm Rifind</td>
                <td>Pan disablity</td>
                <td>New application</td>
                <td>13:24:46 12 July 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Martin Short</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>22:37:21 16 July 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Cheryl Cooke</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>09:54:23 17 July 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
          </tbody>
        </table>

     </div><!-- column -->

    </div><!-- row -->

</div><!-- container -->

{% endblock %}

{% block page_script %}
{% include PATH + "/inc/table-sorting.html" %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('a').on('click', function(e){
      e.stopPropagation();
    });
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var href = $(this).attr('href');
      window.location.href = href;
    });
  });
</script>
{% endblock %}
