{% extends PATH + "/inc/layout.html" %}

{% block staff_content %}

{# this is a macro: pass the id of the selected iteam. Code in inc/layout.html #}
{{ horizontal_nav('nav-cases') }}

<div class="container">

    <div class="grid-row">
         <div class="column-one-third">
            <div class="font-large mb30"><span class="bold-large">Adviser:</span> John Goldsmith</div>
         </div> <!--COLUMN ONE THIRD -->
         <div class="column-two-thrirds">
            
         </div> <!-- COMUN TWO THIRDS -->
    </div> <!-- GRID ROW  -->

      <hr>

    <div class="grid-row">
      <div class="column-full">

        <table class="zebra" sortable>
          <thead>
            <tr>
              <th style="padding-left:15px;">Name</th>
              <th>Specialism</th>
              <th>Case type</th>
              <th>Date submitted</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Oliver Reed</a></td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>10:25:01 25 May 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Patty Crichton</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>13:43:23 10 June 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Phillipe Strong</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>17:02:56 24 June 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
              <tr>
                <td>Caris Jones</td>
                <td>Pan disability</td>
                <td>New application</td>
                <td>14:12:42 30 June 2018</td>
                <td><a href="change-specialism">View case</a></td>
              </tr>
          </tbody>
        </table>

     </div><!-- column -->

    </div><!-- row -->

</div><!-- container -->

{% endblock %}

{% block page_script %}
{% include PATH + "/inc/table-sorting.html" %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('a').on('click', function(e){
      e.stopPropagation();
    });
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var href = $(this).attr('href');
      window.location.href = href;
    });
  });
</script>
{% endblock %}
