{% extends PATH+"/inc/layout_citizen.html" %}

{% block case_content %}

<div class="container">
  {#
    this is a macro: pass the name of the selected item
    and the number for the url.
    Code in inc/layout_case.html
  #}
  {{ case_tabs("support",1) }}

  <div class="grid-row">



    
    <div class="column-two-thirds">

      <a href="../support" class="link-back">Back</a>
      
      <h2 class="heading-large" id="onlineapp">Payment claims</h2>

<p><span class="bold">Remaining award</span><br />
  &pound;3,120 out of £6,240<br />
  1,456 units out of 2080
</p>


      <table>
        <tr >
          <th>Date</th>
          <th>Invoice reference</th>
          <th>SOP reference</th>
          <th>Units</th>
          <th>Amount</th>
          <th>Payment status</th>
        </tr>
        <tr class="click_row" href="payment-claim-5-1-3">
          <td>30th October 2017</td>
          <td>Freds 0005</td>
          <td>SOP00005</td>
          <td>128</td>
          <td>£640</td>
          <td>Paid</td>  
        </tr>
        <tr class="click_row" href="payment-claim-4-1-3">
          <td>17th July 2017</td>
          <td>Freds 0004</td>
          <td>SOP00004</td>
          <td>208</td>
          <td>£1,040</td>
          <td>Paid</td>  
        </tr>
        <tr class="click_row" href="payment-claim-3-1-3">
          <td>21st January 2017</td>
          <td>Freds 0003</td>
          <td>-</td>
          <td>104</td>
          <td>£520</td>
          <td>Rejected</td>  
        </tr>
        <tr class="click_row" href="payment-claim-2-1-3">
          <td>13th October 2106</td>
          <td>Freds 0002</td>
          <td>SOP00002</td>
          <td>168</td>
          <td>£840</td>
          <td>Paid</td>
        </tr>
        <tr class="click_row" href="payment-claim-1-1-3">
          <td>18th May 2016</td>
          <td>Freds 0001</td>
          <td>SOP00001</td>
          <td>16</td>
          <td>£80</td>
          <td>Paid</td>
        </tr>
        <tr>
          <td>30th April 2016</td>
          <td>initial award</td>
          <td>initial award</td>
          <td>initial award</td>
          <td>initial award</td>
        </tr>
      </table>

      <div class="form-group mt30">
        <a href="add-receipt" class="button">Add a payment</a>
      </div>

    </div><!-- column-half -->

    <div class="column-one-third">
      

      <h2 class="heading-large" id="onlineapp">Travel (Ongoing)</h2>
      <p>
        <span class="label">Dates</span><br />
        <span class="font-small">From: 30th Apr 2016</span> <br />
        <span class="font-small">To: 29th Apr 2019</span>
      </p>
      <p>
        <span class="label">Award details</span><br />
        <span class="font-small">Taxi to and from work 4 days a week</span><br />
        <span class="font-small">£5.00 per journey</span><br />
        <span class="font-small">8 journeys per week</span>
      </p>
      <p>
        <span class="label">Deductions</span><br />
        <span class="font-small">Public transport cost: £12.00 per week </span><br />
        <span class="font-small">Employer voluntary: £2.50 per week</span><br />
        <span class="font-small">Customer voluntary: £2.50 per week </span><br />
        
      </p>
      <p>
        <span class="label">Support</span><br />
        <span class="font-small">Approved for £6,240</span><br />
        <span class="font-small">Used to date £3,120</span><br />
        <span class="font-small">Journeys approved for 2080</span><br />
        <span class="font-small">Journeys used 624</span>
      </p>
      <p>
        <span class="label">Live payee details</span><br />
      </p>  
      <p>
        <span class="font-small">Name: Freds Cabs</span><br />
        <span class="font-small">Bank name: Nat West</span><br />
        <span class="font-small">Status: live</span><br />
        <span class="font-small">Sort code: 11-22-33</span><br />
        <span class="font-small">Accunt number: 23456789</span><br />
        <span class="font-small">Email: jason.hair@fredscabs.com</span>
      </p>
      <p>
        <span class="font-small">Name: Green Cars</span><br />
        <span class="font-small">Bank name: Santander</span><br />
        <span class="font-small">Status: live</span><br />
        <span class="font-small">Sort code: 33-22-11</span><br />
        <span class="font-small">Accunt number: 23456789</span><br />
        <span class="font-small">Email: micky.shoo@green.cars.com</span>
      </p>
      <div class="form-group mt30">
        <a href="payees" class="link">View payees</a>
      </div>  

    </div><!-- column-half -->


  </div><!-- grid-row -->
</div><!-- container -->

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var href = $(this).attr('href');
      window.location.href = href;
    });
  });
</script>
{% endblock %}
