{% extends PATH+"/inc/layout_citizen.html" %}

{% block case_content %}

<div class="container">
  {#
    this is a macro: pass the name of the selected item
    and the number for the url.
    Code in inc/layout_case.html
  #}
  {{ case_tabs("support",1) }}

  <div class="grid-row">



    <div class="column-one-third">
    <a href="../support" class="link-back">Back</a>

      <h2 class="heading-large" id="onlineapp">Travel (Ongoing)</h2>


      <div class="grid-row">
    <div class="column-two-thirds">


            <table>
        <tr>
          <th>Dates</th>
          <th></th>
        </tr>
        <tr>
          <td>From</td>
          <td>30 April 2016</td>
        </tr>

        <tr>
          <td>To</td>
          <td>29 April 2019</td>
        </tr>
      </table>

            <table>
        <tr>
          <th>Award details</th>
          <th></th>
        </tr>
        <tr>
          <td>Type of transport</td>
          <td>Taxi</td>
        </tr>

        <tr>
          <td>Times per week</td>
          <td>4</td>
        </tr>

        <tr>
          <td>Cost per journey</td>
          <td>&pound;5.00</td>
        </tr>

          <tr>
          <td>Units allowed <br />per week</td>
          <td>8</td>
        </tr>
      </table>

            <table>
        <tr>
          <th>Deductions per week</th>
          <th></th>
        </tr>

        <tr>
          <td>Employer</td>
          <td>&pound;10.00</td>
        </tr>

          <tr>
          <td>Customer</td>
          <td>&pound;2.50</td>
        </tr>
      </table>


            <table>
        <tr>
          <th>Support</th>
          <th></th>
        </tr>

        <tr>
          <td>Grant award</td>
          <td>&pound;6,240</td>
        </tr>

          <tr>
          <td>Grant used to date</td>
          <td>&pound;3,120</td>
        </tr>

          <tr>
          <td>Journeys approved <br /> (in units)</td>
          <td>3,120</td>
        </tr>

          <tr>
          <td>Journeys used <br /> (in units)</td>
          <td>624</td>
        </tr>


      </table>


            <table>
        <tr>
          <th>Payee details</th>
          <th></th>
          <th></th>
        </tr>

        <tr>
          <td>Fred Cabs</td>
          <td>Live</td>
          <td>        <a href="payee-details-freds" class="link">View</a></td>

        </tr>


        <tr>
          <td>Green Cars</td>
          <td>Live</td>
          <td>        <a href="edit-payee-details" class="link">View</a></td>

        </tr>


        <tr>
          <td><a href="payees" class="link">View all payees</a></td>
        </tr>


      </table>



</div>
</div>

    </div><!-- column-half -->

    <div class="column-two-thirds">
      <h2 class="heading-large" id="onlineapp">Payment claims</h2>

<p><span class="bold">Remaining award</span><br />
  &pound;3,120<br />
  1,456 units
</p>

      <table>
        <tr>
          <th>Date</th>
          <th>Invoice <br />reference</th>
          <th>SOP <br />reference</th>
          <th>Units <br /> claimed</th>
          <th class="numeric">Amount <br /> claimed</th>
          <th></th>
        </tr>
        <tr>
          <td>30th October 2017</td>
          <td>Freds 0005</td>
          <td>SOP00005</td>
          <td>128</td>
          <td class="numeric">£640</tdclass>
          <td><a href="payment-claim-5">View payment</a></td>
        </tr>
        <tr> 
          <td>17th July 2017</td>
          <td>Freds 0004</td>
          <td>SOP00004</td>
          <td>208</td>
          <td class="numeric">£1,040</tdclass>
          <td><a href="payment-claim-4">View payment</a></td>
        </tr>
        <tr>
          <td>21st January 2017</td>
          <td>Freds 0003</td>
          <td>SOP00003</td>
          <td>104</td>
          <td class="numeric">£520</tdclass>
          <td><a href="payment-claim-3">View payment</a></td>  
        </tr>
        <tr>
          <td>13th October 2106</td>
          <td>Freds 0002</td>
          <td>SOP00002</td>
          <td>168</td>
          <td class="numeric">£840</td>
          <td><a href="payment-claim-2">View payment</a></td>
        </tr>
        <tr">
          <td>18th May 2016</td>
          <td>Freds 0001</td>
          <td>SOP00001</td>
          <td>16</td>
          <td class="numeric">£80</td>
          <td><a href="payment-claim-1">View payment</a></td>
        </tr>
        <tr>
          <td>30th April 2016</td>
          <td>initial award</td>
          <td>initial award</td>
          <td>initial award</td>
          <td class="numeric">initial award</td>
        </tr>
      </table>

      <div class="form-group mt30">
        <a href="add-receipt" class="button">Add a payment</a>
      </div>

    </div><!-- column-half -->

  </div><!-- grid-row -->
</div><!-- container -->

{% endblock %}