{% extends PATH+"/inc/layout_citizen.html" %}

{% block case_content %}

<div class="container">

  <div class="grid-row">

    <div class="column-full">
    <!--   <a href="v4/citizen/support" class="link-back">Back</a> -->

      <h2 class="heading-large" id="onlineapp">{{ data.type_of_support }}</h2>

      <table class="zebra form-group">
        <thead>
          <tr>
            <th width="45%"></th>
            <th width="45%"></th>
            <th width="100%"></th>
          </tr>
        </thead>
        <tbody>
          <!--   TRAVEL TO WORK    -->
          {% if data['ttw-description'] != '' %}
          <tr>
            <td>Description of travel support</td>
            <td>{{ data['ttw-description'] }}</td>
            <td><a href="add#travel_to_works">Change</a></td>
          </tr>
          {% endif %}

          {% if data['ttw-journeys'] != '' %}
          <tr>
            <td>Number of jounrneys</td>
            <td>{{ data['ttw-journeys'] }} per week</td>
            <td><a href="add#travel_to_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['ttw-journey-cost'] != '' %}
          <tr>
            <td>Cost of journey</td>
            <td>£{{ data['ttw-journey-cost'] | money }}</td>
            <td><a href="add#travel_to_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['ttw-gross'] != '' %}
          <tr>
            <td class="bold">Gross total</td>
            <td>£{{ data['ttw-gross'] | money }} for 3 years</td>
            <td><a href="add#travel_to_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['ttw-cust-man-deductions'] != '' %}
          <tr>
            <td>Deductions - Public transport costs</td>
            <td>£{{ data['ttw-cust-man-deductions'] | money }} per week</td>
            <td><a href="add#travel_to_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['ttw-vol-deduction'] %}
          <tr>
            <td>Deductions - voluntary?</td>
            <td>{{ data['ttw-vol-deduction'] }}</td>
            <td><a href="add#travel_to_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['ttw-vol-deduction'] == 'Yes' %}
            
            {% if data['ttw-emp-deduction'] %}
            <tr>
              <td>Deductions - Employer voluntary?</td>
              <td>{{ data['ttw-emp-deduction'] }}</td>
              <td><a href="add#travel_to_work">Change</a></td>
            </tr>
            {% endif %}

            {% if data['ttw-emp-deduction-amount'] != '' %}
            <tr>
              <td>Deductions - Employer voluntary</td>
              <td>£{{ data['ttw-emp-deduction-amount'] | money }}</td>
              <td><a href="add#travel_to_work">Change</a></td>
            </tr>
            {% endif %}

            {% if data['ttw-emp-deduction-mileage'] != '' %}
            <tr>
              <td>Deductions - Employer voluntary</td>
              <td>{{ data['ttw-emp-deduction-mileage'] }} miles @ 25p per mile = £{{ data['ttw-emp-deduction-mileage'] | ttwMiles }} per week</td>
              <td><a href="add#travel_to_work">Change</a></td>
            </tr>
            {% endif %}

            {% if data['ttw-cust-deduction'] %}
            <tr>
              <td>Deductions - Customer voluntary?</td>
              <td>{{ data['ttw-cust-deduction'] }}</td>
              <td><a href="add#travel_to_work">Change</a></td>
            </tr>
            {% endif %}

            {% if data['ttw-cust-deduction-amount'] != '' %}
            <tr>
              <td>Deductions - Customer voluntary</td>
              <td>£{{ data['ttw-cust-deduction-amount'] | money }}</td>
              <td><a href="add#travel_to_work">Change</a></td>
            </tr>
            {% endif %}

            {% if data['ttw-cust-deduction-mileage'] != '' %}
            <tr>
              <td>Deductions - Customer voluntary</td>
              <td>{{ data['ttw-cust-deduction-mileage'] }} miles @ 25p per mile = £{{ data['ttw-cust-deduction-mileage'] | ttwMiles }} per week</td>
              <td><a href="add#travel_to_work">Change</a></td>
            </tr>
            {% endif %}
          {% endif %}

          {% if data['ttw-net'] != '' %}
          <tr>
            <td class="bold">Net total</td>
            <td>£{{ data['ttw-net'] | money }} for 3 years</td>
            <td><a href="add#travel_to_work">Change</a></td>
          </tr>
          {% endif %}


          <!--   TRAVEL IN WORK    -->
          {% if data['tiw-description'] != '' %}
          <tr>
            <td>Description of travel support</td>
            <td>{{ data['tiw-description'] }}</td>
            <td><a href="add#travel_in_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['tiw-set-journeys'] %}
          <tr>
            <td>Will there be of set journeys?</td>
            <td>{{ data['tiw-set-journeys'] }}</td>
            <td><a href="add#travel_in_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['tiw-set-journeys'] == 'Yes' %}
            {% if data['tiw-set-journey'] != '' %}
            <tr>
              <td>Number of set jounrneys</td>
              <td>{{ data['tiw-set-journey'] }} per week</td>
              <td><a href="add#travel_in_work">Change</a></td>
            </tr>
            {% endif %}

            {% if data['tiw-set-journey-cost'] != '' %}
            <tr>
              <td>Cost of journey</td>
              <td>£{{ data['tiw-set-journey-cost'] | money }}</td>
              <td><a href="add#travel_in_work">Change</a></td>
            </tr>
            {% endif %}

            {% if data['tiw-set-journey-miles'] != '' %}
            <tr>
              <td>Cost of journey</td>
              <td>{{ data['tiw-set-journey-miles'] }} miles @ 45p per mile = £{{ data['tiw-set-journey-miles'] | tiwMiles }} per week</td>
              <td><a href="add#travel_in_work">Change</a></td>
            </tr>
            {% endif %}
          {% endif %}

          {% if data['tiw-other-journeys'] %}
          <tr>
            <td>Will there be other journeys?</td>
            <td>{{ data['tiw-other-journeys'] }}</td>
            <td><a href="add#travel_in_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['tiw-other-journeys'] == 'Yes' %}
            {% if data['tiw-other-journey'] != '' %}
            <tr>
              <td>Number of set jounrneys</td>
              <td>{{ data['tiw-other-journey'] }} per week</td>
              <td><a href="add#travel_in_work">Change</a></td>
            </tr>
            {% endif %}

            {% if data['tiw-other-journey-cost'] != '' %}
            <tr>
              <td>Cost of journey</td>
              <td>£{{ data['tiw-other-journey-cost'] | money }}</td>
              <td><a href="add#travel_in_work">Change</a></td>
            </tr>
            {% endif %}

            {% if data['tiw-other-journey-miles'] != '' %}
            <tr>
              <td>Cost of journey</td>
              <td>{{ data['tiw-other-journey-miles'] }} miles @ 45p per mile = £{{ data['tiw-other-journey-miles'] | tiwMiles }} per week</td>
              <td><a href="add#travel_in_work">Change</a></td>
            </tr>
            {% endif %}
          {% endif %}

          {% if data['tiw-gross'] != '' %}
          <tr>
            <td class="bold">Gross total</td>
            <td>£{{ data['tiw-gross'] | money }} for 3 years</td>
            <td><a href="add#travel_in_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['tiw-cust-man-deductions'] != '' %}
          <tr>
            <td>Deductions - Public transport costs</td>
            <td>£{{ data['tiw-cust-man-deductions'] | money }} per week</td>
            <td><a href="add#travel_in_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['tiw-emp-deduction'] %}
          <tr>
            <td>Deductions - Employer voluntary?</td>
            <td>{{ data['tiw-emp-deduction'] }}</td>
            <td><a href="add#travel_in_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['tiw-emp-deduction-amount'] != '' %}
          <tr>
            <td>Deductions - Employer voluntary</td>
            <td>£{{ data['tiw-emp-deduction-amount'] | money }}</td>
            <td><a href="add#travel_in_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['tiw-emp-deduction-mileage'] != '' %}
          <tr>
            <td>Deductions - Employer voluntary</td>
            <td>{{ data['tiw-emp-deduction-mileage'] }} miles @ 25p per mile = £{{ data['tiw-emp-deduction-mileage'] | tiwMiles }} per week</td>
            <td><a href="add#travel_in_work">Change</a></td>
          </tr>
          {% endif %}

          {% if data['tiw-net'] != '' %}
          <tr>
            <td class="bold">Net total</td>
            <td>£{{ data['tiw-net'] | money }} for 3 years</td>
            <td><a href="add#travel_in_work">Change</a></td>
          </tr>
          {% endif %}
        </tbody>
      </table>

      <div class="form-group">
        <button class="button">Save and continue</button>
      </div>
    </div><!-- COLUMN ONE THIRD -->
    <div class="column-two-thirds">
    </div> <!-- COLUMN TWO THRIDS -->  

  </div><!-- grid-row -->

</div><!-- container -->

{% endblock %}