{% extends PATH+"/inc/layout_citizen.html" %}

{% block case_content %}

<div class="container">
  
  
  <div class="grid-row">
    <div class="column-half">

    	<h2 class="heading-large"> What do you think you should see here?</h2>

		<h2 class="heading-large"> Where do you think the last click of the button should take you?</h2>

      
    </div><!-- COLUMN HALF -->

    <div class="column-half">
    </div>  <!-- COLUMN HALF -->
  </div><!-- grid-row -->
</div><!-- container -->
{% endblock %}










