{% extends PATH+"/inc/layout_citizen.html" %}

{% block case_content %}

<div class="container">
  {#
    this is a macro: pass the name of the selected item
    and the number for the url.
    Code in inc/layout_case.html
  #}
  {{ case_tabs("support",1) }}

  <div class="grid-row">



    <div class="column-two-thirds">
    <a href="1-3" class="link-back">Back</a>

      <h2 class="heading-large" id="onlineapp">Travel to work payments claim</h2>

      <table>
        
        <tbody>
          <tr>
            <td class="heading-small">Invoice reference</td>
            <td>00004</td>
          </tr>
          <tr>
            <td class="heading-small">Dates of claim</td>
            <td>From: 20th January 2017 <br />To: 17th July 2017</td>
          </tr>
          <tr>
            <td class="heading-small">Number of units claimed</td>
            <td>208</td>
          </tr>
          <tr>
            <td class="heading-small">Amount claimed</td>
            <td>£1,040</td>
          </tr>
          <tr>
            <td class="heading-small">Was this an exisitng payee?</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td class="heading-small">Was the receipt verified?</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td class="heading-small">Payment status</td>
            <td>Paid</td>
          </tr>
          <tr>
            <td class="heading-small">Payment reference</td>
            <td>SOP1115</td>
          </tr>
          <tr>
            <td class="heading-small">Notes</td>
            <td>Oliver sent a message asking if this receipt period is too long. <br />
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
          </tr>
        </tbody>
      </table>

    </div><!-- COLOMN TWO THIRDS -->

    <div class="column-one-thrid">

    </div> <!-- COLUMN ONE THIRD -->  

  </div><!-- grid-row -->
</div><!-- container -->

{% endblock %}