<!-- - - - - -  Status - - - - - -->
<h3 class="heading-small" style="margin-top:0;">Status</h3>
<div class="timeline__item">
  {% set latest = case.timeline | revCron %}
  {{ latest | log }}
  <h4>{{ latest[0].status }}</h4>
  <p class="timeline__notes">{{ latest[0].notes }}</p>
  <p class="timeline__date">{{ latest[0].adviser.name }} {{ latest[0].adviser.surname }} &mdash; {{ latest[0].date | formatDate("HH:mma - Do MMM YYYY") }}</p>
</div>
<button class="button" id="status_button">change status</button>
{% set statuses = [
  "First contact attempted",
  "Second contact attempted",
  "Third contact attempted",
  "Gather appointment set",
  "Employer call made",
  "Cost share agreed",
  "Cost share not agreed",
  "Incoming call from customer taken",
  "Incoming call from employer taken",
  "Incoming call from assessor taken",
  "Assessment requested",
  "Assessment rework requested",
  "Submitted for approval",
  "Failed QAF",
  "Medical evidence requested",
  "Offer sent",
  "Offer accepted",
  "Offer partially accepted",
  "Offer rejected",
  "Change of circumstances received",
  "Case reassigned",
  "Application withdrawn",
  "Other (see notes)"
  ] %}
<form class="form js-hidden" id="status_form">
  <select class="dropdown" name="status" id="status_status" style="margin-bottom:10px;">
    {% for item in statuses %}
        <option name="{{ item | slugify }}">{{ item }}</option>
    {% endfor %}
  </select>
  <textarea class="form-control" name="notes" id="status_notes"></textarea>
  <input type="button" class="button" value="Save" id="status_add"/>
  <a href="#" class="editter" id="status_cancel">cancel</a>
</form>

{% if case.timeline | length > 1  %}
  <h3 class="heading-small">Previously</h3>
  {% for item in case.timeline | revCron %}
    {% if loop.index0 %}
      <div class="timeline__item">
        <h4>{{ item.status }}</h4>
        <p class="timeline__notes">{{ item.notes }}</p>
        <p class="timeline__date">{{ item.adviser.name }} {{ item.adviser.surname }} &mdash; {{ item.date | formatDate("HH:mma - Do MMM YYYY") }}</p>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
