{% extends PATH+"/inc/layout_citizen.html" %}

{% block case_content %}

<div class="container">
  {#
    this is a macro: pass the name of the selected item
    and the number for the url.
    Code in inc/layout_case.html
  #}
  {{ case_tabs("details",1) }}

  <div class="grid-row mt30">

    <div class="column-third">

      <h3 class="heading-medium mt0">Contact details</h3>
      <p>Oliver has agreed to be contacted in the following ways:</p>
      <p>
        <span class="label">Telephone calls</span><br />
        <span class="font-medium">09870 654 321</span>
      </p>
      <p>
        <span class="label">Text messages</span><br />
        <span class="font-medium">09870 654 321</span>
      </p>
      <p>
        <span class="label">Emails</span><br />
        <span class="font-medium"><a href="">ollyreed@googlemail.com</a></span>
      </p>
      <p>
        <span class="label">Letters</span><br />
        <span class="font-medium">23 Railway Cuttings</span><br />
        <span class="font-medium">East Cheam</span><br />
        <span class="font-medium">London</span><br />
        <span class="font-medium">SM2 7YT</span><br />
      </p>
      <p><a href="edit-citizen-details" class="button button-secondary">Edit citizen details</a></p>

    </div><!-- column -->

    <div class="column-third">

      <!-- SELF EMPLOYED -->
      <h3 class="heading-medium mt0">Job</h3>
      <p>
        <span class="label">Employment status</span><br />
        <span class="font-medium">Director</span>
      </p>
      <p>
        <span class="label">Company Name</span><br />
        <span class="font-medium">Spanners Plumbing Ltd</span>
      </p>
      <p>
        <span class="label">Job Title</span><br />
        <span class="font-medium">Brain Surgen</span>
      </p>
      <p>
        <span class="label">Since</span><br />
        <span class="font-medium">
          {{ ["More than 6 weeks ago","1st June 2016","7th July 2016","8th August 2016"] | randarr }}
        </span>
      </p>
      <p>
        <span class="label">Working pattern</span><br />
        <span class="font-medium">{{ '' | randnum(1,5) }} days a week</span><br />
        <span class="font-medium">{{ '' | randnum(10,37) }} hours a week</span>
      </p>
      <p>
        <span class="label">Place of work</span><br />
        <span class="font-medium">1600 Pennsylvania Ave</span><br />
        <span class="font-medium">Washington</span><br />
        <span class="font-medium">DC 20500</span><br />
        <span class="font-medium">USA</span><br />
      </p>
      <p><a href="edit-employer-details" class="button button-secondary">Edit employer details</a></p>

    </div><!-- column -->
    <div class="column-third">

      <h3 class="heading-medium mt0">Employer Contact</h3>
      <p>No employer contact provided (Director)</p>

    </div><!-- column -->
  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{% block footer_top %}
{{ super() }}
{% include PATH+"/citizen/footer_links.html" %}
{% endblock %}
