{% extends PATH+"/inc/layout_citizen.html" %}

{% block case_content %}

<div class="container">
     
  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-large">Edit payee details</h1>

      <div class="form-group">
        <label class="form-label-bold" for="full-name">Account name</label>
        <input class="form-control" id="full-name" name="full-name" type="text" value="Freds Cabs">
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="bank">Bank</label>
        <input class="form-control" id="bank" name="bank" type="text" value="Nat West Bank">        
      </div>{# /form-group #}

      <div class="form-group">
        <label class="form-label-bold" for="sort-code">Sort code</label>
        <input class="form-control" id="sort-code" name="sort-code" type="text" value="11-22-33">        
      </div>{# /form-group #}

      <div class="form-group">
        <label class="form-label-bold" for="account-number">Account number</label>
        <input class="form-control" id="account-number" name="account-number" type="number" value="23456789">        
      </div>{# /form-group #}

      <div class="form-group">
        <label class="form-label-bold" for="email">Email</label>
        <input class="form-control" id="email" name="email" type="text" value="james.hair@natwestbank.com">
      </div>{# /form-group #}

        <div class="form-group">
          <fieldset>
            <legend>
              <h1 class="heading-medium">
                Payee status
              </h1>
            </legend>
            <div class="multiple-choice">
              <input id="radio-inline-1" type="radio" name="radio-inline-group" value="live">
              <label for="radio-inline-1">Live</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="radio-inline-group" value="dormant">
              <label for="radio-inline-2">Dormant</label>
            </div>
          </fieldset>
        </div> <!-- FORM GROUP -->

      <div class="form-group">
        <a href="support-3" class="button">Save changes</a>
        <a href="support-3" class="button text">Cancel</a>
      </div>

    </div>{# /column-two-thirds #}

  </div>{# /grid-row #}

</div>

{% endblock %}
