{% extends PATH+"/inc/layout_citizen.html" %}

{% block case_content %}

<div class="container">
  {#
    this is a macro: pass the name of the selected item
    and the number for the url.
    Code in inc/layout_case.html
  #}
  {{ case_tabs("support",1) }}
  
  <div class="grid-row">
    <div class="column-half">

    	<h2 class="heading-large">Payment confirmation</h2>

		  <h3 class="heading-medium"> Your payment to Freds Cabs for £160 has been made</h2>

      <a href="support-1-plus-1-new-item" class="button">Back to payments</a>  

      
    </div><!-- COLUMN HALF -->

    <div class="column-half">
    </div>  <!-- COLUMN HALF -->
  </div><!-- grid-row -->
</div><!-- container -->
{% endblock %}










