{% extends PATH+"/inc/layout_citizen.html" %}

{% block case_content %}


<div class="container">

  {{ data | log }}
  {#
    this is a macro: pass the name of the selected item
    and the number for the url.
    Code in inc/layout_case.html
  #}
  {{ case_tabs("support",1) }}

  <div class="grid-row">

    <div class="column-full">

      <div class="admin-wrapper">
        <a href="/{{ PATH }}/citizen/support" class="link-back">Back to award</a>
          <div class="horizontal-admin-secondary-wrapper">
            <div class="admin-content-wrapper-horizontalnav">
              <div class="admin-content-horizontalnav">
                <div class="admin-submenu-container">
                

                <div class="admin-submenu">
                  <ul>
                    <li><a href="support-1">Payments history</a></li>
                    <li><a href="support-2">Element detail</a></li>
                    <li class="active"><a href="support-3">Payees</a></li>
                  </ul>
                </div><!-- admin-submenu -->

                <div class="admin-panes">
                  <div class="admin-pane">
                    
                      <table>
                          <tr>
                            <th class="heading-small">Payee</th>
                            <th class="heading-small">Bank</th>
                            <th class="heading-small">Sort code</th>
                            <th class="heading-small">Account number</th>
                            <th class="heading-small">Email</th>
                            <th class="heading-small">Status</th>
                            <th class="heading-small">Date last paid</th>
                            <th></th>
                          </tr>
                          <tr>
                            <td>Freds Cabs</td>
                            <td>Nat West Bank</td>
                            <td>11-22-33</td>
                            <td>23456789</td>
                            <td>james.hair@fredscabs.com</td>
                            <td>live</td>
                            <td>06 March 2018</td>
                            <td><a href="edit-payee-details">edit</a></td>
                          </tr>
                          <tr>
                            <td>Green Cars</td>
                            <td>Santander</td>
                            <td>12-34-56</td>
                            <td>12345678</td>
                            <td>craig.shoo@green.cars.co.uk</td>

                            <td>live</td>
                            <td>10 December 2017 </td>
                            <td><a href="edit-payee-details-1">edit</a></td>
                          </tr>
                          <tr>
                            <td>Toms Taxi</td>
                            <td>Yorkshire Bank</td>
                            <td>12-34-56</td>
                            <td>12345678</td>
                            <td>peter.piper@ytomstaxi.co.uk</td>
                            <td>live</td>
                            <td>31 October 2017</td>
                            <td><a href="edit-payee-details-1">edit</a></td>
                          </tr>
                          <tr>
                            <td>A2B Cars</td>
                            <td>Halifax Bank</td>
                            <td>00-11-99</td>
                            <td>19283746</td>
                            <td>jenny.peat@a2b.com</td>
                            <td>dormant</td>
                            <td>15 July 2017 </td>
                            <td><a href="edit-payee-details-1">edit</a></td>
                          </tr>
                          <tr>
                            <td>Quickline</td>
                            <td>HSB</td>
                            <td>99-88-34</td>
                            <td>12345678</td>
                            <td>jane.roofe@quickline-cars.com</td>
                            <td>dormant</td>
                            <td>6 April 2017</td>
                            <td><a href="edit-payee-details-1">edit</a></td>
                          </tr>
                          <tr>
                            <td>Freds Taxis</td>
                            <td>Nat West Bank</td>
                            <td>11-22-33</td>
                            <td>23456789</td>
                            <td>james.hair@fredscabs.com</td>
                            <td>dormant</td>
                            <td>06 March 2017</td>
                            <td><a href="edit-payee-details">edit</a></td>
                          </tr>
                          <tr>
                            <td>The Taxi Company</td>
                            <td>Santander</td>
                            <td>11-22-33</td>
                            <td>23455432</td>
                            <td>peter.filch@thetaxixompany.com</td>
                            <td>dormant</td>
                            <td>01 March 2017</td>
                            <td><a href="edit-payee-details">edit</a></td>
                          </tr>
                          <tr>
                            <td>Quickline</td>
                            <td>Halifax Bank</td>
                            <td>11-11-11</td>
                            <td>23456789</td>
                            <td>janice.mcsweeney@quickline.co.uk</td>
                            <td>dormant</td>
                            <td>24 January 2017</td>
                            <td><a href="edit-payee-details">edit</a></td>
                          </tr>
                        </table>
                  </div><!-- admin-pane -->
                </div><!-- admin-panes -->
               </div><!--admin-submenu-container -->
              </div><!-- admin-content-horizontalnav -->
            </div><!-- admin-content-wrapper-horizontalnav -->
          </div><!-- horizotnal-admin-secondary-warpper -->   
      </div><!-- admin-wrapper -->

    </div><!-- column-full -->
  </div><!-- grid-row -->
</div><!-- container -->

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var href = $(this).attr('href');
      window.location.href = href;
    });
  });
</script>
{% endblock %}
