{% extends PATH+"/inc/layout_citizen.html" %}

{% block case_content %}

<div class="container">
  {#
    this is a macro: pass the name of the selected item
    and the number for the url.
    Code in inc/layout_case.html
  #}
  {{ case_tabs("support",1) }}

  <div class="grid-row">



    <div class="column-one-half">
     <a href="1-4" class="link-back">Back</a>
     <h1 class="heading-large">Placeholder which will show the award in full, to compliment the summary panel in Payments view</h1>
    </div><!-- column-half -->

    <div class="column-one-half">
      
    </div><!-- COLUMN TWO THIRDS-->

  </div><!-- grid-row -->
</div><!-- container -->

{% endblock %}