{% extends PATH+"/inc/layout_citizen.html" %}

{% block case_content %}

<div class="container">
  {#
    this is a macro: pass the name of the selected item
    and the number for the url.
    Code in inc/layout_case.html
  #}
  {{ case_tabs("support",1) }}

  <div class="grid-row">



    <div class="column-two-thirds">
     <a href="1-4" class="link-back">Back</a>
      <table>
        <tr>
          <td class="heading-small">Travel details</td>
          <td>Travel to and from work using a taxi, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
        </tr>
        <tr> 
          <td class="heading-small">Award from</td>
          <td>30 April 2016</td>
        </tr>
        <tr>
          <td class="heading-small">Award to</td>
          <td>29 April 2109</td>
        </tr>
        <tr>
          <td class="heading-small">Number of journeys</td>
          <td>10 per week</td>
        </tr>
        <tr>
          <td class="heading-small">Cost per journey</td>
          <td>£7.50</td>
        </tr>
        <tr>
          <td class="heading-small">Gross total</td>
          <td>£11,700.00</td>
        </tr>
        <tr>
          <td class="heading-small">Deductions - customer mandatory contribution</td>
          <td>£7,200.00</td>
        </tr>
        <tr>
          <td class="heading-small">Deductions - customer voluntary contribution</td>
          <td>£1,200.00</td>
        </tr>
        <tr>
          <td class="heading-small">Deductions - employer voluntary contribution</td>
          <td>£1,200.00</td>
        </tr>
        <tr>
          <tr>
          <td class="heading-small">Net total</td>
          <td>£2,300.00</td>
        </tr>
      </table>
    </div><!-- column-two-thirds -->

    <div class="column-one-third">
      
    </div><!-- column-one-third-->

  </div><!-- grid-row -->
</div><!-- container -->

{% endblock %}