{#
  This is the blue bar across the top of the case pages.
#}
<div class="staff__heading">

  <div class="grid-row">
    <div class="column-three-quarters">
        <h2 class="heading-xlarge" style="margin:0 0 10px">Oliver Reed</h2>
    </div><!-- column 3 quarters-->
    <div class="column-quarter">
        
    </div><!-- column one quarter -->
  </div><!-- row -->

  <div class="grid-row">
    <div class="column-quarter">
      <p><span class="font-xsmall">Condition</span><br /><span class="bold-medium">Deaf and Autism</spanc></p>
    </div><!-- column one quarter -->
    <div class="column-quarter">
      
    </div><!-- column one quarter -->
    <div class="column-quarter">
      
    </div style="align=right"><!-- column one quarter -->
    <div class="column-quarter">
      <p><span class="font-xsmall">Specialism</span><br /><span class="bold-medium">Hidden impairments</span></p>
    </div><!-- column one quarter -->
  </div><!-- row -->
  
</div><!-- staff__heading -->
