{% extends PATH+"/inc/layout.html" %}

{% block staff_content %}

  {# this is a macro: pass the id of the selected iteam. Code in inc/layout.html #}
  {{ horizontal_nav('none') }}

  {% include PATH + "/inc/app_top.html" %}

  {% block case_content %}{% endblock %}

{% endblock %}

{% block page_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#status_status').combobox();
      $('#app_adviser').combobox();
      $('#app_team').combobox();
    });
  </script>
{% endblock %}

{% macro case_tabs(selected,num) %}
<div class="section-tabs js-tabs clearfix">
  <ul>

    {% if "timeline" == selected %}
      <li class="active"><a href="/{{ PATH }}/citizen/timeline">Timeline</a></li>
    {% else %}
      <li><a href="/{{ PATH }}/citizen/timeline">Timeline</a></li>
    {% endif %}

    {% if "details" == selected %}
      <li class="active"><a href="/{{ PATH }}/citizen/details">Details</a></li>
    {% else %}
      <li><a href="/{{ PATH }}/citizen/details">Details</a></li>
    {% endif %}

    {% if "case" == selected %}
      <li class="active"><a href="/{{ PATH }}/citizen/case/onlineapp">Case</a></li>
    {% else %}
      <li><a href="/{{ PATH }}/citizen/case/onlineapp">Case</a></li>
    {% endif %}

    {% if "support" == selected %}
      <li class="active"><a href="/{{ PATH }}/citizen/support/initial">Support</a></li>
    {% else %}
      <li><a href="/{{ PATH }}/citizen/support/initial">Support</a></li>
    {% endif %}

  </ul>
</div>
{% endmacro %}

{% macro case_nav(active) %}
  <p class="mt30 mb10">Evidence collected so far:</p>
  <ul class="case_nav mt0">
    {# isActive() is a "Filter" found in app/filters.js #}
    <li {{ active | isActive('assessment') }}><a href="/{{ PATH }}/citizen/case/assessment">Assessment report</a></li>
    <li {{ active | isActive('medicalev') }}><a href="/{{ PATH }}/citizen/case/medicalev">Medical evidence</a></li>
    <li {{ active | isActive('employer') }}><a href="/{{ PATH }}/citizen/case/employer">Employer contact</a></li>
    <li {{ active | isActive('phonecall') }}><a href="/{{ PATH }}/citizen/case/phonecall">Phone call (further info)</a></li>
    <li {{ active | isActive('onlineapp') }}><a href="/{{ PATH }}/citizen/case/onlineapp">Online application</a></li>
  </ul>
{% endmacro %}
