{% extends TEMPLATE_FOLDER+"/inc/layout_case.html" %}

{% block case_content %}


        <div class="section-tabs js-tabs clearfix">
          <ul>
            <li class="active"><a href="timeline">Timeline</a></li>
            <li><a href="application_2">Application</a></li>
            <li><a href="job_1">Job</a></li>
            <li><a href="contact_1">Contact</a></li>
          </ul>
        </div>


        <div class="timeline" style="margin-top:45px;">
            <span class="line"></span>
            <div class="timeline-event">
              <h3 class="heading-small">New application received</h3>
              <p class="status">08:01am - 12th June 2017</p>
            </div>
            <div style="clear:both"></div>
        </div>

      
 

{% endblock%}

{% block page_script %}
  {% include TEMPLATE_FOLDER + "/inc/adviser_edit.html" %}
{% endblock %}