.help-margin {
	margin-top: 2.5em;
	h2 {
		margin-bottom: .75em;
	}
	p {
	font-size: 17px;
	}
	@media screen and (max-width: 640px) {
		display: none;
	}
}

.main-legend {
	margin-bottom: 25px;
}

.dec-legend {
	margin-bottom: 10px;
}

.space-legend {
	padding-top: 25px;
}

.section-progress {
	font-size: 24px;
	font-weight: 300;
	color: #6f777b;
	margin-bottom: 4px;
	display: block;
	line-height: 1.4em;
	@media screen and (max-width: 640px) {
		font-size: 19px;
	}
}

select {
	display: block;

	background: white;
}

li {
	.button {
		@media screen and (max-width: 640px) {
			margin-right: 0;
			width: 92%!important;
		}
	}
}

.error-prompt {
	border-color: #b10e1e;
}

.panel-indent {
	margin-top: 0!important;
	margin-bottom: 0!important;
}


.intro-text {
	margin: -40px 0 50px 0;
}

.text-full {
	min-height: 150px;
	width: 100%;
}


.form-label-bold-inner {
  @include bold-19;
  margin-bottom: 0;
  .form-hint {
    @include core-19;
  }
}



/* Intro page */

.intro-nav {
	padding-bottom: 1.2em;
	border-bottom: 1px solid #bbb;
	ol {
		list-style: none;
		li {
			display: inline-block;
			width: 48%;
			padding: 6px 0;
		}
	}
}

.intro-content {

}

.intro-next {
	margin-top: 2em;
	padding-bottom: 1.2em;
	border-bottom: 1px solid #bbb;
	overflow: hidden;
	a {
		float: right;
		display: block;
		width: 35%;
		padding: 20px 60px 20px 10px;
		font-size: 28px;
		text-decoration: none;
		text-align: right;
		position: relative;
		&:before {
				content: "\003e";
				font-size: 50px;
				font-family: georgia;
				color: #2b8cc4;
				position: absolute;
				top: 1px;
				right: 7%;
			}
		&.first {
			float: left;
			text-align: left;
			padding: 20px 10px 20px 60px;
			&:before {
				content: "\003c";
				top: 1px;
				left: 7%;
				right: 0;
			}
		}
		span {
			display: block;
			font-size: 19px;
		}
		&:hover {
			background-color: #eee;
			text-decoration: underline;
		}
	}
	@media screen and (max-width: 640px) {
		a {
			font-size: 19px;
			width: 28%;
			span {
				font-size: 16px;
			}
		}
	}
}

.intro-right {
	border-top: 10px solid #005ea5;
	padding-top: 12px;
}

.intro-right-nav {
	margin-top: -10px;
	li {
		padding: 5px 0;
		font-size: 17px;
	}
}

.application-notice {
	padding: 0 4em 0 3em;
}

.help-notice {
	background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-132af33c6e868e9f8702ce2f968e3a03.png) no-repeat scroll 0 0.7em;
background-size: 34px 34px;
	p{
		font-weight: 600;
	}
}


.primary-nav {
	legend {
		position: absolute;
		left: -9999px;
	}
}

.hidden-legend {
	position: absolute;
	left: -9999px;
}

.form-hint {
	margin-top: 0;
	padding-top: 8px;
}

.form-help {
	padding: 8px 0;
	margin: 0;
}

.completion {
	background: #28A197;
	text-align: center;
	padding: 2em 0;
	margin-top: 2em;
	h1 {
		color: #fff;
	}
}

table {
	th {
		font-size: 19px;
		vertical-align: top;
	}
	td {
		vertical-align: top;
		&:first-child {
			width: 42%;
			padding-right: 5%;
		}
	}
}

.header-proposition {
	h1 {
		padding-top: 5px;
		@media screen and (max-width: 640px) {
			padding-top: 0;
		}
	}
}
