/* STAFF ACCESS NAV */
.staff-nav-links {

  a {
    display:block;
    padding:10px;
    text-decoration:none;

    img {
      display:block;
      margin:auto;
    }
    &:hover {
      color:white;
      background-color:$turquoise-50;
    }
  }
}
