{% extends TEMPLATE_FOLDER+"/layout.html" %}

{% block staff_content %}

  {# {{ advisers | log }} #}

  <div class="staff__heading">
    <div class="staff__centred">
      
    </div>
  </div>

  
  

    <div class="grid-row">
      <div class="column-one-third">

        <div class="font-xlarge"><span class="bold-xlarge">Team:</span> Hidden</div>
     </div>   

        <div class="box">

        <table class="zebra">
          <thead>
            <tr>
            <td rowspan="7" class="font-large"><a href="adviser">John Goldsmith</a></td>
              <th style="padding-left:15px;">Case</th>
              <th>Status</th>
              <th class="numeric">Since</th>
            </tr>
          </thead>
          
      <tr>
        <td>
          <a href="customer_timeline">Oliver Reed</a>
        </td>
        <td>
          New appliction
        </td>
        <td>
          10:54am - 5th June 2017
        </td>
      </tr>
      <tr>
        <td>
          <a href="customer_timeline">Martin Short</a>
        </td>
        <td>
          New application 
        </td>
        <td>
          12:34pm - 5th June 2017
        </td>
      </tr>
      <tr>
        <td>
          <a href="customer_timeline">Cheryl Cook</a>        
        </td>
        <td>
          First call
        </td>
        <td>
          10:21am - 31st May 2017
        </td>
      </tr>
      <tr>
        <td>
          <a href="customer_timeline">Paul John-Jones</a>
        </td>
        <td>
          Gather completed
        </td>
        <td>
          2:21pm - 21st May 2017
        </td>
      </tr>
      <tr>
        <td>
          <a href="customer_timeline">Pauline McCallum</a>
        </td>
        <td>
          Referred for assessment
        </td>
        <td>
          2:45pm - 21st May 2017
        </td>
      </tr>
    </tbody>

    </table>

         
        </table>
        <table class="zebra">
          <thead>
            <tr>
            <td rowspan="7" class="font-large"><a href="adviser">Marjorie Hill</a></td>
              <th style="padding-left:15px;">Case</th>
              <th>Status</th>
              <th class="numeric">Since</th>
            </tr>
          </thead>
          
      <tr>
        <td>
          <a href="customer_timeline">Marcus Smith</a>
        </td>
        <td>
          New appliction
        </td>
        <td>
          9:38am - 4th June 2017
        </td>
      </tr>
      <tr>
        <td>
          <a href="customer_timeline">Muriel Gray</a>
        </td>
        <td>
          First call 
        </td>
        <td>
          10:00am - 2nd June 2017
        </td>
      </tr>
      <tr>
        <td>
          <a href="customer_timeline">Candice Campari</a>       
        </td>
        <td>
          First call
        </td>
        <td>
          3:35pm - 21st May 2017
        </td>
      </tr>
      <tr>
        <td>
          <a href="customer_timeline">Justine Time</a>
        </td>
        <td>
          Second call
        </td>
        <td>
          3:21pm - 20th May 2017
        </td>
      </tr>
      <tr>
        <td>
          <a href="customer_timeline">Stephanie Sloan</a>
        </td>
        <td>
          Referred for assessment
        </td>
        <td>
          12:45pm - 18th 2017
        </td>
      </tr>
    </tbody>

    </table>

        <table class="zebra">
              <thead>
                <tr>
                <td rowspan="7" class="font-large"><a href="adviser">Meghan Isleworth</a></td>
                  <th style="padding-left:15px;">Case</th>
                  <th>Status</th>
                  <th class="numeric">Since</th>
                </tr>
              </thead>
              
          <tr>
            <td>
              <a href="customer_timeline">Malcolm Best</a>
            </td>
            <td>
              New appliction
            </td>
            <td>
              9:00am - 4ht June 2017
            </td>
          </tr>
          <tr>
            <td>
              <a href="customer_timeline">Judith Speight</a>
            </td>
            <td>
              New application 
            </td>
            <td>
              11:45pm - 3rd June 2017
            </td>
          </tr>
          <tr>
            <td>
              <a href="customer_timeline">Sandra Gaul</a>       
            </td>
            <td>
              New application
            </td>
            <td>
              10:21am - 3rd June 2017
            </td>
          </tr>
          <tr>
            <td>
              <a href="customer_timeline">Gina Peaches</a>
            </td>
            <td>
              Employer contact
            </td>
            <td>
              12:00pm - 29th May 2017
            </td>
          </tr>
      
        </tbody>

         
        </table>

        
        </table>
        </div><!-- box -->

      </div> <!-- column-full-->

    </div> <!-- grid-row -->    

   </div> <!-- container -->


{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var id = $(this).data('id');
      window.location.href = "/{{TEMPLATE_FOLDER}}/adviser/"+id;
    });
  });
</script>
{% endblock %}
