{% extends TEMPLATE_FOLDER + "/inc/layout.html" %}

{% block staff_content %}

{# this is a macro: pass the id of the selected iteam. Code in inc/layout.html #}
{{ horizontal_nav('nav-cases') }}

<div class="container">
  <div class="grid-row">
    <div class="column-half">

    <div class="bold-xlarge" style="padding-bottom:30px;">All teams</div>

      <div class="form-group">
        <p><a href="advisers-deaf">Deaf</a></p>
        <p><a href="advisers-large">Large employers</a></p>
        <p><a href="advisers">Hidden impairments</a></p>
        <p><a href="advisers-pan">Pan disability</a></p>
        <p><a href="advisers-self">Self employed</a></p>
      </div> <!-- form-group -->

    </div> <!-- clomun-half -->
  </div> <!-- grid-row -->
</div> <!-- container -->

{% endblock %}
