{% extends TEMPLATE_FOLDER+"/layout.html" %}

{% block staff_content %}

  {# {{ cases | log }} #}

  <div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">
        <li id="nav-home"><a href="/adviser">My cases</a></li>
        <li id="nav-case"><a href="advisers">My team</a></li>
        <li id="nav-dash"><a href="search">Search</a></li>    
    </ul>
  </div>
  <div class="external-links-wrapper">
    <ul class="external-links">
      <li class="main-nav-link"><a href="all-teams">All teams</a></li>
      <li class="main-nav-link"><a href="all-advisers">All advisers</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="grid-row">
    <div class="column-half">

    <div class="bold-xlarge" style="padding-bottom:30px;"">All advisers</div>

      <div class="form-group">
        <ul>
          <li><a href="">Sarah Andrews</a></li>
          <li><a href="">Martin Armitage</a></li>
          <li><a href="">Charlie Bennett</a></li>
          <li><a href="">Beth Burd</a></li>
          <li><a href="">Lamia Bzirkt</a></li>
          <li><a href="">Peter Duval</a></li>
          <li><a href="">Clémence Fabre</a></li>
          <li><a href="">Elisse Farcens</a></li>          
          <li><a href="">Christoph Fernandez</a></li>
          <li><a href="adviser">John Goldsmith</a></li>
          <li><a href="">Julie Guichard</a></li>
          <li><a href="">Jean Harrold</a></li>
          <li><a href="">Jack Hastle</a></li>
          <li><a href="">Anaëlle Herve</a></li>
          <li><a href="">Colin Julien</a></li>
          <li><a href="">Théo Langlois</a></li>
          <li><a href="">Bruno Lefevre</a></li>
          <li><a href="">Lou Marchal</a></li>
          <li><a href="">Capucine Michel</a></li>
       </ul>   
      </div> <!-- form-group -->
        
    </div> <!-- clomun-half -->  
  </div> <!-- grid-row -->
</div> <!-- container -->

{% endblock %}


{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var id = $(this).data('id');
      window.location.href = "/{{TEMPLATE_FOLDER}}/customer/"+id;
    });
  });
</script>
{% endblock %}