{% extends TEMPLATE_FOLDER+"/layout.html" %}

{% block staff_content %}

  {# {{ cases | log }} #}

  <div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">
        <li id="nav-home"><a href="allocater">My cases</a></li>
        <li id="nav-case"><a href="advisers_2">My team</a></li>
        <li id="nav-allocator" class="selected"><a href="allocate">Allocate</a></li>
        <li id="nav-dash"><a href="search_2">Search</a></li>    
    </ul>
  </div>
  <div class="external-links-wrapper">
    <ul class="external-links">
      <li class="main-nav-link"><a href="all-teams">All teams</a></li>
       <span class="pipe">|</span>
      <li class="main-nav-link"><a href="all-advisers">All advisers</a></li>
    </ul>
  </div>
</div>

  

  <div class="container">

  <div class="font-xlarge"><span class="bold-xlarge">Adviser:</span>John Goldsmith</div>
    <div class="grid-row">
      <div class="column">

        <div class="box">
        <table class="zebra">
          <thead>
            <tr>
              <th style="padding-left:15px;">Name</th>
              <th>Condition</th>
              <th>Status</th>
              <th class="numeric">Since</th>
              
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>
                  <a href="customer_timeline_2">Oliver Reed</a>
                </td>
                <td>
                  Autism
                </td>
                <td>
                </td>
                <td class="numeric">
                  08:01am - 12th June 2017
                </td>
              </tr>
              <tr>
                <td>
                  <a href="customer_timeline">Martin Short</a>
                </td>
                <td>
                  Eplilepsy
                </td>
                <td>
                </td>
                <td class="numeric">
                  08:12am - 12th June 2017
                </td>
              </tr>
              <tr>
                <td>
                  <a href="customer_timeline">Cheryl Cook</a>        
                </td>
                <td>
                  Depression
                </td>
                <td>
                </td>
                <td class="numeric">
                  10:21am - 12th June 2017
                </td>
              </tr>
              <tr>
                <td>
                  <a href="customer_timeline">Paul John-Jones</a>
                </td>
                <td>
                  Autism
                </td>
                <td>
                </td>
                <td class="numeric">
                  10:38am - 12th June 2017
                </td>
              </tr>
              <tr>
                <td>
                  <a href="customer_timeline">Pauline McCallum</a>
                </td>
                <td>
                  Depression
                </td>
                <td>
                </td>
                <td class="numeric">
                  12:45pm - 12th June 2017
                </td>
              </tr>
              <tr>
                <td>
                  <a href="customer_timeline">Jonty Lee</a>
                </td>
                <td>
                  Depression
                </td>
                <td>
                </td>
                <td class="numeric">
                  12:52pm - 12th June 2017
                </td>
              </tr>
              <tr>
                <td>
                  <a href="customer_timeline">Peter Keil</a>
                </td>
                <td>
                  Blind
                </td>
                <td>
                </td>
                <td class="numeric">
                  01:12pm - 12th June 2017
                </td>
              </tr>
              <tr>
                <td>
                  <a href="customer_timeline">Seamus Murphy</a>
                </td>
                <td>
                  Multiple Sclerosis
                </td>
                <td>
                </td>
                <td class="numeric">
                  02:34pm - 12th June 2017
                </td>
              </tr>
              <tr>
                <td>
                  <a href="customer_timeline">Martin Smith</a>
                </td>
                <td>
                  Deaf
                </td>
                <td>
                </td>
                <td class="numeric">
                  02:47pm - 12th June 2017
                </td>
              </tr>
              <tr>
                <td>
                  <a href="customer_timeline">Caitlin Rose</a>
                </td>
                <td>
                  Blind
                </td>
                <td>
                </td>
                <td class="numeric">
                  03:27pm - 12th June 2017
                </td>
              </tr>
              <tr>
                <td>
                  <a href="customer_timeline">Scott Moore</a>
                </td>
                <td>
                  Autism
                </td>
                <td>
                </td>
                <td class="numeric">
                  03:34pm - 12th June 2017
                </td>
              </tr>
          </tbody>         
        </table>

      </div><!-- box -->

     </div><!-- column -->

    </div><!-- row -->
    
</div><!-- container -->

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var id = $(this).data('id');
      window.location.href = "/{{TEMPLATE_FOLDER}}/customer/"+id;
    });
  });
</script>
{% endblock %}
