{% extends TEMPLATE_FOLDER+"/layout_case.html" %}

{% block case_content %}

<div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">    
        <li id="nav-home"><a href="adviser">My cases</a></li>
        <li id="nav-case"><a href="advisers">My team</a></li>
        <li id="nav-dash"><a href="search">Search</a></li>
    </ul>
  </div>
  <div class="external-links-wrapper">
    <ul class="external-links">
      <li class="main-nav-link"><a href="all-teams">All teams</a></li>
      <li class="main-nav-link"><a href="all-advisers">All advisers</a></li>
    </ul>
  </div>
</div>

<div class="section-tabs js-tabs clearfix">
  <ul>
    <li><a href="customer_timeline">Timeline</a></li>
    <li><a href="customer_application">Application</a></li>
    <li><a href="customer_job">Job</a></li>
    <li class="active"><a href="customer_contact">Contact</a></li>
  </ul>
</div>


  <div class="box tabs">
    <div class="grid-row">
      <div class="column-half">
        <p>
          <span class="font-xsmall">Date of birth</span><br />
          <span class="bold-medium">19th October 1976</span>
        </p>

        <p>
          <span class="font-xsmall">Address</span><br />
          <span class="bold-medium">23 Railway Cuttings</span><br />
          <span class="bold-medium">East Cheam</span><br />
          <span class="bold-medium">London</span><br />
          <span class="bold-medium">SM2 7YT</span><br />
        </p>
      </div><!-- column -->
      <div class="column-half">
        <p>
          <span class="font-xsmall">Telephone</span><br />
          <span class="bold-medium">09870 654 321</span>
        </p>
        <p>
          <span class="font-xsmall">Email</span><br />
          <span class="bold-medium"><a href="">{{ case.name | lower }}.{{ case.surname | lower }}@googlemail.com</a></span>
        </p>

      </div><!-- column -->
    </div><!-- row -->
  </div><!-- box -->

{% endblock %}

{% block page_script %}
  {% include TEMPLATE_FOLDER + "/_inc/adviser_edit.html" %}
{% endblock %}
