{% extends TEMPLATE_FOLDER+"/layout_case_2.html" %}


<div class="staff__heading">
  <div class="staff__centred">
    <h2 class="heading-xlarge" style="margin:0 0 10px">Oliver Reed</h2>
    <div class="grid-row">
      <div class="column-quarter">
        <p><span class="font-xsmall">Condition</span><br /><span class="bold-medium">Autism</spanc></p>
      </div>
      <div class="column-quarter">
        <p><span class="font-xsmall">Employed</span><br /><span class="bold-medium">Channel 4</spanc></p>
      </div>
      <div class="column-quarter">
        <p><span class="font-xsmall">Adviser</span><br /><span class="bold-medium"></span></p>
      </div>
      <div class="column-quarter">
        <p><span class="font-xsmall">Team</span><br /><span class="bold-medium">Hidden</span></p>
      </div>
    </div><!-- row -->
  </div><!-- staff__centred -->
</div><!-- staff__heading -->
<div class="grid grid-row">


<div class="section-tabs js-tabs clearfix">
  <ul>
    <li class="active"><a href="customer_timeline">Timeline</a></li>
    <li><a href="customer_application">Application</a></li>
    <li><a href="customer_job">Job</a></li>
    <li><a href="customer_contact">Contact</a></li>
  </ul>
</div>


<div class="timeline" style="margin-top:45px;">

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">New application received</h3>
            <p class="status">5th June 2017</p>
          </div>

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">Case allocated</h3>
            <p class="status">5th June 2017</p>
          </div>

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">First call</h3>
            <p class="status">5th June 2017</p>
          </div>

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">Second call</h3>
            <p class="status">6th June 2017</p>
          </div>

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">Employer contacted</h3>
            <p>6th June 2017</p>
          </div>

          <div style="clear:both"></div>

        </div>
 </div> <!-- grid-row --> 



{% block page_script %}
  {% include TEMPLATE_FOLDER + "/_inc/adviser_edit.html" %}
{% endblock %}