{% extends TEMPLATE_FOLDER+"/layout_case.html" %}

{% block case_content %}

  {# {{ case | log }} #}

  <div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">     
        <li id="nav-home"><a href="adviser">My cases</a></li>
        <li id="nav-case"><a href="advisers">My team</a></li>
        <li id="nav-dash"><a href="search">Search</a></li>
    </ul>
  </div>
  <div class="external-links-wrapper">
    <ul class="external-links">
      <li class="main-nav-link"><a href="all-teams">All teams</a></li>
      <li class="main-nav-link"><a href="all-advisers">All advisers</a></li>
    </ul>
  </div>
</div>

  <div class="section-tabs js-tabs clearfix">
    <ul>
      <li><a href="customer_timeline">Timeline</a></li>
      <li class="active"><a href="customer_application">Application</a></li>
      <li><a href="customer_job">Job</a></li>
      <li><a href="customer_contact">Contact</a></li>
    </ul>
  </div>

  <div class="box tabs">
    <table>
      {% if case.job_how_harder %}
      <tr>
        <td class="bold nobr">How is your job harder?</td>
        <td class="cust_info">{{ case.job_how_harder }}</td>
      </tr>
      <tr>
        <td class="bold nobr">What do you do now?</td>
        <td class="cust_info">{{ case.job_what_do_now | default("Not answered")}}</td>
      </tr>
      <tr>
        <td class="bold nobr">What do you want?</td>
        <td class="cust_info">{{ case.job_what_need | default("Not answered") }}</td>
      </tr>
      {% endif %}
      {% if  case.travel_how_harder %}
      <tr>
        <td class="bold nobr">How is your travel harder?</td>
        <td class="cust_info">{{ case.travel_how_harder }}</td>
      </tr>
      <tr>
        <td class="bold nobr">What do you do now?</td>
        <td class="cust_info">{{ case.travel_what_do_now | default("Not answered")}}</td>
      </tr>
      <tr>
        <td class="bold nobr">What do you want?</td>
        <td class="cust_info">{{ case.travel_what_need | default("Not answered") }}</td>
      </tr>
      {% endif %}
    </table>
  </div><!-- box -->

{% endblock %}

{% block page_script %}
  {% include TEMPLATE_FOLDER + "/_inc/adviser_edit.html" %}
{% endblock %}
