{% extends TEMPLATE_FOLDER+"/layout_case.html" %}

{% block case_content %}

<div class="section-tabs js-tabs clearfix">
  <ul>
    <li class="active"><a href="customer_timeline">Timeline</a></li>
    <li><a href="customer_application">Application</a></li>
    <li><a href="customer_job">Job</a></li>
    <li><a href="customer_contact">Contact</a></li>
  </ul>
</div>


<div class="timeline" style="margin-top:45px;">

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">Cost share agreed</h3>
            <p>6th June 2017</p>
            <p class="bold-xsmall">John Goldsmith</p>
            <p class="font-xsmall">Olivers employer have agreed to the cost share</p>
          </div>

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">Employer call made</h3>
            <p class="status">6th June 2017</p>
            <p class="bold-xsmall">John Goldsmith</p>
            <p class="font-xsmall">Spoke to Oliver employer and agreed on sending cost share</p>
          </div>

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">Second contact attempted</h3>
            <p class="status">5th June 2017</p>
            <p class="bold-xsmall">John Goldsmith</p>
            <p class="font-xsmall">Spoke to customer and agreed for information gather</p>
          </div>

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">Fisrt contact attempted</h3>
            <p class="status">5th June 2017</p>
            <p class="bold-xsmall">John Goldsmith</p>
            <p class="font-xsmall">Tried calling but no answer</p>
          </div>

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">Case allocted</h3>
            <p class="status">5th June 2017</p>
            <p class="bold-xsmall">John Goldsmith</p>
          </div>

          <div style="clear:both"></div>

  </div>
  

{% endblock %}

{% block page_script %}
  {% include TEMPLATE_FOLDER + "/_inc/adviser_edit.html" %}
{% endblock %}