{% extends TEMPLATE_FOLDER+"/layout_case_3.html" %}

{% block case_content %}

<div class="section-tabs js-tabs clearfix">
  <ul>
    <li><a href="customer_timeline_3">Timeline</a></li>
    <li><a href="customer_application_2">Application</a></li>
    <li><a href="customer_job_2">Job</a></li>
    <li class="active"><a href="customer_contact_2">Contact</a></li>
  </ul>
</div>


  <div class="box tabs">
    <div class="grid-row">
      <div class="column-half">
        <p>
          <span class="font-xsmall">Date of birth</span><br />
          <span class="bold-medium">23rd March 1972</span>
        </p>

        <p>
          <span class="font-xsmall">Address</span><br />
          <span class="bold-medium">221b Baker Street</span><br />
          <span class="bold-medium">Marylebone</span><br />
          <span class="bold-medium">London</span><br />
          <span class="bold-medium">NW1 6XE</span><br />
        </p>
      </div><!-- column -->
      <div class="column-half">
        <p>
          <span class="font-xsmall">Telephone</span><br />
          <span class="bold-medium">0171 222 222</span>
        </p>
        <p>
          <span class="font-xsmall">Email</span><br />
          <span class="bold-medium"><a href="">{{ case.name | lower }}.{{ case.surname | lower }}@googlemail.com</a></span>
        </p>

      </div><!-- column -->
    </div><!-- row -->
  </div><!-- box -->

{% endblock %}

{% block page_script %}
  {% include TEMPLATE_FOLDER + "/_inc/adviser_edit.html" %}
{% endblock %}
