{% extends TEMPLATE_FOLDER+"/layout_case.html" %}

{% block case_content %}


<!-- <div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">
        <li id="nav-home"><a href="adviser">My cases</a></li>
        <li id="nav-case"><a href="advisers">My team</a></li>
        <li id="nav-dash"><a href="search">Search</a></li>
    </ul>
  </div>
  <div class="external-links-wrapper">
    <ul class="external-links">
      <li class="main-nav-link"><a href="all-teams">All teams</a></li>
      <li class="main-nav-link"><a href="all-advisers">All advisers</a></li>
    </ul>
  </div>
</div> -->

<div class="section-tabs js-tabs clearfix">
  <ul>
    <li class="active"><a href="customer_timeline">Timeline</a></li>
    <li><a href="customer_application">Application</a></li>
    <li><a href="customer_job">Job</a></li>
    <li><a href="customer_contact">Contact</a></li>
  </ul>
</div>


<div class="timeline" style="margin-top:45px;">

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">New application received</h3>
            <p class="status">5th June 2017</p>
          </div>

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">Case allocated</h3>
            <p class="status">5th June 2017</p>
          </div>

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">First call</h3>
            <p class="status">5th June 2017</p>
          </div>

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">Second call</h3>
            <p class="status">6th June 2017</p>
          </div>

          <span class="line"></span>
          <div class="timeline-event">
            <h3 class="heading-small">Employer contacted</h3>
            <p>6th June 2017</p>
          </div>

          <div style="clear:both"></div>

        </div>
  

{% endblock %}

{% block page_script %}
  {% include TEMPLATE_FOLDER + "/_inc/adviser_edit.html" %}
{% endblock %}