{% extends TEMPLATE_FOLDER + "/inc/layout.html" %}

{% block staff_content %}

{{ TEMPLATE_FOLDER | log }}

<div class="staff__heading">
  <div class="staff__centred">
  {% if by %}
    <h1 class="heading-xlarge" style="margin:0 0 15px">{{ by | capitalize }} – Open</h1>
    <div class="show_only list_{{ by }}">
      <ul>
        <li><a>show only:</a></li>
        {% set fish = ['all','deaf','hidden','large','self','director','visual','pan'] %}
        {% for item in fish %}
          <li class="item_{{ item }}"><a href="/{{TEMPLATE_FOLDER}}/groupby/{{ item }}" style="color:white">{{ item }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if title %}
    <h1 class="heading-xlarge">{{ title }}</h1>
  {% endif %}
  </div><!-- staff__centred -->
</div><!-- staff__heading -->

<div class="container">
  <div class="grid-row">
    <div class="column">
      <div class="box">
        <table class="zebra">
          <thead>
            <tr>
              <th style="padding-left:15px;">Name</th>
              <th>Team</th>
              
              <th>Condition</th>
              <th class="numeric">Initial contact</th>
              <th class="numeric">Adviser</th>
            </tr>
          </thead>
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e1d">
            <td style="padding-left:15px;" class="">Adem Tosun</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>Autism </td>
            
            <td class="nobr numeric">3rd June 2016</td>
            <td class="nobr numeric"> </td>
          </tr>
          
        
          
          <tr class="click_row" data-id="57e39f03dcba0f2054870eca">
            <td style="padding-left:15px;" class="">Yeldon Finkelstein</td>
            <td><span class="tag "></span></td>
            <td>lower back pain and sciatica</td>
            
            <td class="nobr numeric">13th June 2016</td>
            <td class="nobr numeric"> </td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e34">
            <td style="padding-left:15px;" class="">Lucas Morgan</td>
            <td><span class="tag pan">pan</span></td>
            <td>Problems walking</td>
            
            <td class="nobr numeric">2nd June 2016</td>
            <td class="nobr numeric"> </td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e3e">
            <td style="padding-left:15px;" class=""> Ana Isabel Cruz</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>Epilepsy</td>
            
            <td class="nobr numeric">2nd June 2016</td>
            <td class="nobr numeric"> </td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e43">
            <td style="padding-left:15px;" class="">Berat Karagöz</td>
            <td><span class="tag self">self</span></td>
            <td>Poor hearing</td>
            
            <td class="nobr numeric">2nd June 2016</td>
            <td class="nobr numeric">Lamia Baron</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e54">
            <td style="padding-left:15px;" class="">Taha Sağlam</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Severe lower back pain, leg pain and a prolapsed...</td>
            
            <td class="nobr numeric">1st June 2016</td>
            <td class="nobr numeric">Bruno Duval</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e58">
            <td style="padding-left:15px;" class="">Mia Russell</td>
            <td><span class="tag large">large</span></td>
            <td>pseudoxanthoma elasticum </td>
            
            <td class="nobr numeric">1st June 2016</td>
            <td class="nobr numeric">Grégory Faure</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e89">
            <td style="padding-left:15px;" class="">Aaron Murray</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Deaf British Sign Language user</td>
            
            <td class="nobr numeric">27th May 2016</td>
            <td class="nobr numeric">Katell Grondin</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ebd">
            <td style="padding-left:15px;" class="">Charlie Reid</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Sciatica</td>
            
            <td class="nobr numeric">25th May 2016</td>
            <td class="nobr numeric">Alexis Boulanger</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ec6">
            <td style="padding-left:15px;" class="">Laura Cooper</td>
            <td><span class="tag self">self</span></td>
            <td>Neck and wrist ache</td>
            
            <td class="nobr numeric">24th May 2016</td>
            <td class="nobr numeric">Julie Guichard</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ed8">
            <td style="padding-left:15px;" class="">Oliver Russell</td>
            <td><span class="tag large">large</span></td>
            <td>DYSLEXIA AND DYSCALCULIA</td>
            
            <td class="nobr numeric">16th March 2016</td>
            <td class="nobr numeric">Lamia Baron</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ed9">
            <td style="padding-left:15px;" class="">Víctor Castillo</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Dyslexia</td>
            
            <td class="nobr numeric">16th March 2016</td>
            <td class="nobr numeric">Julie Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f49">
            <td style="padding-left:15px;" class="">Tomás Moya</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Multiple Sclerosis</td>
            
            <td class="nobr numeric">25th February 2016</td>
            <td class="nobr numeric">Nolan Bailly</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f4a">
            <td style="padding-left:15px;" class=""> José Ignacio Ramírez</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Hearing loss both ears requiring hearing aids left...</td>
            
            <td class="nobr numeric">25th February 2016</td>
            <td class="nobr numeric">Charlotte Fernandez</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f4c">
            <td style="padding-left:15px;" class="">Harrison Campbell</td>
            <td><span class="tag director">director</span></td>
            <td>Profoundly deaf with mild learning communication...</td>
            
            <td class="nobr numeric">25th February 2016</td>
            <td class="nobr numeric">Capucine Michel</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f50">
            <td style="padding-left:15px;" class="">Sabahattin Ergüç</td>
            <td><span class="tag pan">pan</span></td>
            <td>Deaf (plus other health conditions)</td>
            
            <td class="nobr numeric">24th February 2016</td>
            <td class="nobr numeric">Sarah Williams</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f77">
            <td style="padding-left:15px;" class="">Marina Campos</td>
            <td><span class="tag self">self</span></td>
            <td>Chiari Malformation Type 1</td>
            
            <td class="nobr numeric">16th February 2016</td>
            <td class="nobr numeric">Julie Guichard</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f7a">
            <td style="padding-left:15px;" class="">Rodrigo Giménez</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Partial sighted ness caused bycateracts and...</td>
            
            <td class="nobr numeric">15th February 2016</td>
            <td class="nobr numeric">Colin Julien</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f7d">
            <td style="padding-left:15px;" class="">Yusuf Ünal</td>
            <td><span class="tag director">director</span></td>
            <td>Coccyxdynia</td>
            
            <td class="nobr numeric">15th February 2016</td>
            <td class="nobr numeric">Maxence Dupont</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f7f">
            <td style="padding-left:15px;" class="">Francisca Cabrera</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Inflammatory Arthritis</td>
            
            <td class="nobr numeric">15th February 2016</td>
            <td class="nobr numeric">Charlotte Fernandez</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f99">
            <td style="padding-left:15px;" class="">Mahir Arabacı</td>
            <td><span class="tag director">director</span></td>
            <td>Profound Deaf</td>
            
            <td class="nobr numeric">9th February 2016</td>
            <td class="nobr numeric">Lou Marchal</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974fd7">
            <td style="padding-left:15px;" class="">Íker Sáez</td>
            <td><span class="tag large">large</span></td>
            <td>Fibromyalgia</td>
            
            <td class="nobr numeric">28th January 2016</td>
            <td class="nobr numeric">Lou Marchal</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974fdd">
            <td style="padding-left:15px;" class="">Aimee Jones</td>
            <td><span class="tag self">self</span></td>
            <td>joint pain</td>
            
            <td class="nobr numeric">27th January 2016</td>
            <td class="nobr numeric">Capucine Michel</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974fe3">
            <td style="padding-left:15px;" class="">Megan Knight</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Epilepsy</td>
            
            <td class="nobr numeric">26th January 2016</td>
            <td class="nobr numeric">Colin Julien</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ff8">
            <td style="padding-left:15px;" class="">Madeleine Anderson</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Dyslexia</td>
            
            <td class="nobr numeric">22nd January 2016</td>
            <td class="nobr numeric">Théo Langlois</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974fff">
            <td style="padding-left:15px;" class="">Namık Yıldız</td>
            <td><span class="tag self">self</span></td>
            <td>Hypothyroidism, depression, anxiety, panic...</td>
            
            <td class="nobr numeric">21st January 2016</td>
            <td class="nobr numeric">Julie Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52975002">
            <td style="padding-left:15px;" class="">Elizabeth Green</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>i am recovering from a frozen shoulder, and...</td>
            
            <td class="nobr numeric">21st January 2016</td>
            <td class="nobr numeric">Pauline Marie</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52975005">
            <td style="padding-left:15px;" class=""> María Isabel Pastor</td>
            <td><span class="tag large">large</span></td>
            <td>Mental Health Illness</td>
            
            <td class="nobr numeric">19th January 2016</td>
            <td class="nobr numeric">Capucine Michel</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f5297500d">
            <td style="padding-left:15px;" class="">Musa Aydoğdu</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>Complex Regional Pain Syndrome</td>
            
            <td class="nobr numeric">18th January 2016</td>
            <td class="nobr numeric">Bruno Duval</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52975011">
            <td style="padding-left:15px;" class=""> José Manuel Durán</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>Epilepsy and severe migraines</td>
            
            <td class="nobr numeric">17th January 2016</td>
            <td class="nobr numeric">Clémence Fabre</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974d6a">
            <td style="padding-left:15px;" class="">Büşra Mustafa</td>
            <td><span class="tag visual">visual</span></td>
            <td>chronic fatigue syndrome/ fibromyalgia</td>
            
            <td class="nobr numeric">13th June 2016</td>
            <td class="nobr numeric">Lamia Baron</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974d8c">
            <td style="padding-left:15px;" class="">Lorena Gallardo</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>Unaware Hypoglcemia </td>
            
            <td class="nobr numeric">9th June 2016</td>
            <td class="nobr numeric">Capucine Michel</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974d8f">
            <td style="padding-left:15px;" class="">Ignacio Domínguez</td>
            <td><span class="tag pan">pan</span></td>
            <td>Epilepsy </td>
            
            <td class="nobr numeric">9th June 2016</td>
            <td class="nobr numeric">Lamia Baron</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974d90">
            <td style="padding-left:15px;" class="">Lydia Hunt</td>
            <td><span class="tag self">self</span></td>
            <td>Suspected seizures</td>
            
            <td class="nobr numeric">9th June 2016</td>
            <td class="nobr numeric">Anaëlle Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974d95">
            <td style="padding-left:15px;" class="">Susana Núñez</td>
            <td><span class="tag large">large</span></td>
            <td>Learning Disabilities</td>
            
            <td class="nobr numeric">9th June 2016</td>
            <td class="nobr numeric">Anaëlle Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974da9">
            <td style="padding-left:15px;" class="">İclal Karadağ</td>
            <td><span class="tag large">large</span></td>
            <td>Dyslexia </td>
            
            <td class="nobr numeric">8th June 2016</td>
            <td class="nobr numeric">Julie Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e44">
            <td style="padding-left:15px;" class="">Özcan Kocaman</td>
            <td><span class="tag large">large</span></td>
            <td>Temporal Lobe Epilepsy, Shermans Syndrome.</td>
            
            <td class="nobr numeric">1st June 2016</td>
            <td class="nobr numeric">Colin Julien</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ec8">
            <td style="padding-left:15px;" class="">Azra Şentürk</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>autism</td>
            
            <td class="nobr numeric">24th May 2016</td>
            <td class="nobr numeric">Maxence Dupont</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974fca">
            <td style="padding-left:15px;" class="">Pervin Altan</td>
            <td><span class="tag visual">visual</span></td>
            <td>Rheumatoid Arthritis</td>
            
            <td class="nobr numeric">1st February 2016</td>
            <td class="nobr numeric">Lou Marchal</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f76">
            <td style="padding-left:15px;" class="">Hazal Topsakal</td>
            <td><span class="tag self">self</span></td>
            <td>Rheumatoid arthritis / visual impairment</td>
            
            <td class="nobr numeric">16th February 2016</td>
            <td class="nobr numeric">Nolan Bailly</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e73">
            <td style="padding-left:15px;" class=""> Víctor Manuel Vicente</td>
            <td><span class="tag visual">visual</span></td>
            <td>Lymphodemia</td>
            
            <td class="nobr numeric">30th May 2016</td>
            <td class="nobr numeric">Charlotte Fernandez</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ded">
            <td style="padding-left:15px;" class="">Selma Korkmaz</td>
            <td><span class="tag large">large</span></td>
            <td>Profoundly Deaf</td>
            
            <td class="nobr numeric">6th June 2016</td>
            <td class="nobr numeric">Julie Guichard</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f06">
            <td style="padding-left:15px;" class="">Miguel Mora</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>Sleep Apnea</td>
            
            <td class="nobr numeric">5th March 2016</td>
            <td class="nobr numeric">Valentine Duval</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f42">
            <td style="padding-left:15px;" class="">Furkan Toparslan</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Fibromyalgia Manic Depression</td>
            
            <td class="nobr numeric">25th February 2016</td>
            <td class="nobr numeric">Capucine Michel</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e91">
            <td style="padding-left:15px;" class="">Isobel Robinson</td>
            <td><span class="tag visual">visual</span></td>
            <td>Autism, mental health, learning difficulies</td>
            
            <td class="nobr numeric">26th May 2016</td>
            <td class="nobr numeric">Théo Langlois</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f9f">
            <td style="padding-left:15px;" class=""> María Angeles Román</td>
            <td><span class="tag self">self</span></td>
            <td>tennis elbow</td>
            
            <td class="nobr numeric">8th February 2016</td>
            <td class="nobr numeric">Nick Young</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f47">
            <td style="padding-left:15px;" class=""> Miguel Ángel Pérez</td>
            <td><span class="tag pan">pan</span></td>
            <td>Partially sighted</td>
            
            <td class="nobr numeric">25th February 2016</td>
            <td class="nobr numeric">Maxence Dupont</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e42">
            <td style="padding-left:15px;" class="">Ayşe Özçelik</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>severe post-operative macula condition</td>
            
            <td class="nobr numeric">2nd June 2016</td>
            <td class="nobr numeric">John Goldsmith</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974de1">
            <td style="padding-left:15px;" class="">Encarnación Rojas</td>
            <td><span class="tag director">director</span></td>
            <td>Asperger&#39;s</td>
            
            <td class="nobr numeric">7th June 2016</td>
            <td class="nobr numeric">Léonie Vidal</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974de3">
            <td style="padding-left:15px;" class="">Natasha King</td>
            <td><span class="tag visual">visual</span></td>
            <td>Visual Impairement - registered as severely sight...</td>
            
            <td class="nobr numeric">7th June 2016</td>
            <td class="nobr numeric">Léonie Vidal</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974dfd">
            <td style="padding-left:15px;" class="">Hayal Şenli</td>
            <td><span class="tag pan">pan</span></td>
            <td>Dyslexia</td>
            
            <td class="nobr numeric">6th June 2016</td>
            <td class="nobr numeric">Charlotte Fernandez</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e0d">
            <td style="padding-left:15px;" class="">Alfredo Díez</td>
            <td><span class="tag director">director</span></td>
            <td>Anxiety</td>
            
            <td class="nobr numeric">3rd June 2016</td>
            <td class="nobr numeric">Salomé Jean</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e18">
            <td style="padding-left:15px;" class="">Beliz Tütüncü</td>
            <td><span class="tag large">large</span></td>
            <td>Lower back/shoulder muscular pain</td>
            
            <td class="nobr numeric">3rd June 2016</td>
            <td class="nobr numeric">Maxence Dupont</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e3d">
            <td style="padding-left:15px;" class="">Yolanda Vázquez</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Autism</td>
            
            <td class="nobr numeric">2nd June 2016</td>
            <td class="nobr numeric">Pauline Marie</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e68">
            <td style="padding-left:15px;" class="">Cemre Öcal</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Hearing </td>
            
            <td class="nobr numeric">31st May 2016</td>
            <td class="nobr numeric">Capucine Michel</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e6a">
            <td style="padding-left:15px;" class=""> María Isabel Flores</td>
            <td><span class="tag large">large</span></td>
            <td>Breast surgery for cancer </td>
            
            <td class="nobr numeric">31st May 2016</td>
            <td class="nobr numeric">Jade Chevallier</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e74">
            <td style="padding-left:15px;" class="">İshak Arabacı</td>
            <td><span class="tag director">director</span></td>
            <td>Ehlers-Danlos Syndrome Hypermobility Type,...</td>
            
            <td class="nobr numeric">30th May 2016</td>
            <td class="nobr numeric">Bruno Lefevre</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e76">
            <td style="padding-left:15px;" class=""> María Carmen Serrano</td>
            <td><span class="tag visual">visual</span></td>
            <td>Kypho-scoliosis and osteoporosis</td>
            
            <td class="nobr numeric">30th May 2016</td>
            <td class="nobr numeric">Capucine Michel</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e93">
            <td style="padding-left:15px;" class="">Beliz Baştürk</td>
            <td><span class="tag pan">pan</span></td>
            <td>Syringomyelia and arthritis</td>
            
            <td class="nobr numeric">26th May 2016</td>
            <td class="nobr numeric">Salomé Jean</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e98">
            <td style="padding-left:15px;" class="">Ahenk Öcal</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>I have a broken vertebrae, lower back pain</td>
            
            <td class="nobr numeric">26th May 2016</td>
            <td class="nobr numeric">Pauline Marie</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ea6">
            <td style="padding-left:15px;" class=""> María Isabel Lozano</td>
            <td><span class="tag large">large</span></td>
            <td>Spinal Oesteoporosis</td>
            
            <td class="nobr numeric">26th May 2016</td>
            <td class="nobr numeric">Pauline Marie</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ecb">
            <td style="padding-left:15px;" class="">Melih Yıldız</td>
            <td><span class="tag hidden">hidden</span></td>
            <td> nerve damage causing backpain andd numb ness down...</td>
            
            <td class="nobr numeric">24th May 2016</td>
            <td class="nobr numeric">Julie Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ecf">
            <td style="padding-left:15px;" class="">Burak Dereli</td>
            <td><span class="tag director">director</span></td>
            <td>Learning Disability</td>
            
            <td class="nobr numeric">24th May 2016</td>
            <td class="nobr numeric">Alexis Boulanger</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974edb">
            <td style="padding-left:15px;" class="">Murat Tekin</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Dyselxia</td>
            
            <td class="nobr numeric">15th March 2016</td>
            <td class="nobr numeric">Théo Langlois</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974efa">
            <td style="padding-left:15px;" class="">Belen Tekin</td>
            <td><span class="tag self">self</span></td>
            <td>Severe hearing loss</td>
            
            <td class="nobr numeric">7th March 2016</td>
            <td class="nobr numeric">Salomé Jean</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974efe">
            <td style="padding-left:15px;" class="">James Saunders</td>
            <td><span class="tag visual">visual</span></td>
            <td>I had a stroke</td>
            
            <td class="nobr numeric">7th March 2016</td>
            <td class="nobr numeric">Bruno Duval</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f24">
            <td style="padding-left:15px;" class="">Alaattin Baştürk</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>hearing loss / tinnitus</td>
            
            <td class="nobr numeric">1st March 2016</td>
            <td class="nobr numeric">Julie Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f60">
            <td style="padding-left:15px;" class="">Amparo Prieto</td>
            <td><span class="tag large">large</span></td>
            <td>Chronic Pelvic Pain</td>
            
            <td class="nobr numeric">19th February 2016</td>
            <td class="nobr numeric"> </td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f62">
            <td style="padding-left:15px;" class="">Alfie Edwards</td>
            <td><span class="tag director">director</span></td>
            <td>Hard of Hearing</td>
            
            <td class="nobr numeric">19th February 2016</td>
            <td class="nobr numeric">Julie Guichard</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f64">
            <td style="padding-left:15px;" class=""> Luis Miguel Ibáñez</td>
            <td><span class="tag pan">pan</span></td>
            <td>have a hearing impairment</td>
            
            <td class="nobr numeric">18th February 2016</td>
            <td class="nobr numeric">Théo Langlois</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f6e">
            <td style="padding-left:15px;" class="">Libby Watson</td>
            <td><span class="tag large">large</span></td>
            <td>Motor Neurone Disease</td>
            
            <td class="nobr numeric">17th February 2016</td>
            <td class="nobr numeric">Katell Grondin</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974fe0">
            <td style="padding-left:15px;" class=""> María Concepción Santiago</td>
            <td><span class="tag pan">pan</span></td>
            <td>Dyslexia</td>
            
            <td class="nobr numeric">26th January 2016</td>
            <td class="nobr numeric">Bruno Duval</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52975032">
            <td style="padding-left:15px;" class="">Demi Clark</td>
            <td><span class="tag self">self</span></td>
            <td>profoundly deaf</td>
            
            <td class="nobr numeric">5th January 2016</td>
            <td class="nobr numeric">Théo Langlois</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f5297503a">
            <td style="padding-left:15px;" class="">Fethi Dereli</td>
            <td><span class="tag visual">visual</span></td>
            <td>Hearing impairment</td>
            
            <td class="nobr numeric">22nd December 2015</td>
            <td class="nobr numeric">Julie Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f5297503b">
            <td style="padding-left:15px;" class=""> José Carlos Díaz</td>
            <td><span class="tag director">director</span></td>
            <td>deafness  bsl user</td>
            
            <td class="nobr numeric">18th December 2015</td>
            <td class="nobr numeric">Alexis Boulanger</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f5297503e">
            <td style="padding-left:15px;" class="">Chloe Walsh</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Deaf and British Sign Language user</td>
            
            <td class="nobr numeric">17th December 2015</td>
            <td class="nobr numeric">Théo Langlois</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974d7c">
            <td style="padding-left:15px;" class="">Hannah Davis</td>
            <td><span class="tag visual">visual</span></td>
            <td>Dyslexia</td>
            
            <td class="nobr numeric">10th June 2016</td>
            <td class="nobr numeric">Katell Grondin</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974dcf">
            <td style="padding-left:15px;" class="">Gracie Roberts</td>
            <td><span class="tag self">self</span></td>
            <td>Dyspraxia / Dysgraphia</td>
            
            <td class="nobr numeric">7th June 2016</td>
            <td class="nobr numeric">Maëlle Lacroix</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e4d">
            <td style="padding-left:15px;" class="">Gloria Vidal</td>
            <td><span class="tag visual">visual</span></td>
            <td>Dyslexia and visual stress</td>
            
            <td class="nobr numeric">1st June 2016</td>
            <td class="nobr numeric">Maxence Dupont</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ec1">
            <td style="padding-left:15px;" class="">Alicia Mitchell</td>
            <td><span class="tag large">large</span></td>
            <td>Addisons Disease, hearing impared, on crutches and...</td>
            
            <td class="nobr numeric">25th May 2016</td>
            <td class="nobr numeric">Théo Langlois</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e5a">
            <td style="padding-left:15px;" class=""> Víctor Manuel Esteban</td>
            <td><span class="tag large">large</span></td>
            <td>muscular skeletal </td>
            
            <td class="nobr numeric">31st May 2016</td>
            <td class="nobr numeric">Nolan Bailly</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f7c">
            <td style="padding-left:15px;" class="">Jack Graham</td>
            <td><span class="tag self">self</span></td>
            <td>Profoundly deaf</td>
            
            <td class="nobr numeric">15th February 2016</td>
            <td class="nobr numeric">Maxence Dupont</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974fdf">
            <td style="padding-left:15px;" class="">Pablo Moya</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>profoundly deaf</td>
            
            <td class="nobr numeric">27th January 2016</td>
            <td class="nobr numeric">Maxence Dupont</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f4b">
            <td style="padding-left:15px;" class="">Libby Wilson</td>
            <td><span class="tag visual">visual</span></td>
            <td>Stammer (speech impediment)</td>
            
            <td class="nobr numeric">25th February 2016</td>
            <td class="nobr numeric">Clémence Fabre</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f87">
            <td style="padding-left:15px;" class="">Bedri Aydın</td>
            <td><span class="tag visual">visual</span></td>
            <td>Profound Deafness</td>
            
            <td class="nobr numeric">11th February 2016</td>
            <td class="nobr numeric">Lamia Baron</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ffc">
            <td style="padding-left:15px;" class="">Freddie Russell</td>
            <td><span class="tag pan">pan</span></td>
            <td>Visual Impairment - Retinitis Pigmentosa</td>
            
            <td class="nobr numeric">21st January 2016</td>
            <td class="nobr numeric">Nolan Bailly</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974fbb">
            <td style="padding-left:15px;" class="">Sean Anderson</td>
            <td><span class="tag director">director</span></td>
            <td>Bi-Lateral Hearing Loss</td>
            
            <td class="nobr numeric">3rd February 2016</td>
            <td class="nobr numeric">Anaëlle Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e1b">
            <td style="padding-left:15px;" class=""> María Rosario Crespo</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>dyslexia </td>
            
            <td class="nobr numeric">3rd June 2016</td>
            <td class="nobr numeric">Salomé Jean</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f80">
            <td style="padding-left:15px;" class="">Tarık Elmas</td>
            <td><span class="tag director">director</span></td>
            <td>Cataracts</td>
            
            <td class="nobr numeric">15th February 2016</td>
            <td class="nobr numeric">Julie Guichard</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974faf">
            <td style="padding-left:15px;" class="">Akif Asan</td>
            <td><span class="tag pan">pan</span></td>
            <td>profoundly deaf</td>
            
            <td class="nobr numeric">4th February 2016</td>
            <td class="nobr numeric">Charlotte Fernandez</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974fd9">
            <td style="padding-left:15px;" class="">Muhsin Arnas</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Cataract, Glaucoma,Uveitis, Hard of hearing</td>
            
            <td class="nobr numeric">28th January 2016</td>
            <td class="nobr numeric">Nolan Bailly</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ff2">
            <td style="padding-left:15px;" class="">Şevki Us</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>Ankylosing Spondylitis</td>
            
            <td class="nobr numeric">23rd January 2016</td>
            <td class="nobr numeric">Maëlle Lacroix</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974db1">
            <td style="padding-left:15px;" class="">Münir Koç</td>
            <td><span class="tag large">large</span></td>
            <td>muscular dystropher </td>
            
            <td class="nobr numeric">8th June 2016</td>
            <td class="nobr numeric">Julie Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f5a">
            <td style="padding-left:15px;" class="">Inmaculada Prieto</td>
            <td><span class="tag self">self</span></td>
            <td>Degenerative changes to neck from C1 toC7</td>
            
            <td class="nobr numeric">22nd February 2016</td>
            <td class="nobr numeric">Salomé Jean</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974fc0">
            <td style="padding-left:15px;" class="">Bradley Reynolds</td>
            <td><span class="tag self">self</span></td>
            <td>Spinal Muscular Atrophy Type II</td>
            
            <td class="nobr numeric">2nd February 2016</td>
            <td class="nobr numeric">Julie Guichard</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ff5">
            <td style="padding-left:15px;" class="">Javier Vega</td>
            <td><span class="tag visual">visual</span></td>
            <td>lower back problems/weakness</td>
            
            <td class="nobr numeric">22nd January 2016</td>
            <td class="nobr numeric">Léonie Vidal</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974eca">
            <td style="padding-left:15px;" class="">Muhammet Güler</td>
            <td><span class="tag visual">visual</span></td>
            <td>Deaf</td>
            
            <td class="nobr numeric">24th May 2016</td>
            <td class="nobr numeric">Capucine Michel</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f5297502c">
            <td style="padding-left:15px;" class="">Toby Bell</td>
            <td><span class="tag director">director</span></td>
            <td>Profoundly deaf</td>
            
            <td class="nobr numeric">8th January 2016</td>
            <td class="nobr numeric">Anaëlle Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974df1">
            <td style="padding-left:15px;" class="">Bülent Demir</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Depression and Stress</td>
            
            <td class="nobr numeric">6th June 2016</td>
            <td class="nobr numeric">Lamia Baron</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ea3">
            <td style="padding-left:15px;" class="">Francisco Carmona</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>dyslexia</td>
            
            <td class="nobr numeric">26th May 2016</td>
            <td class="nobr numeric">Jade Chevallier</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f0a">
            <td style="padding-left:15px;" class="">Irene Rubio</td>
            <td><span class="tag visual">visual</span></td>
            <td>Back problems - lower, upper, and right hip</td>
            
            <td class="nobr numeric">4th March 2016</td>
            <td class="nobr numeric">Katell Grondin</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e87">
            <td style="padding-left:15px;" class="">Rachel Williams</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>Sarcoidosis</td>
            
            <td class="nobr numeric">27th May 2016</td>
            <td class="nobr numeric">Katell Grondin</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974ef9">
            <td style="padding-left:15px;" class=""> Ana María Benítez</td>
            <td><span class="tag large">large</span></td>
            <td>Multiple sclerosis</td>
            
            <td class="nobr numeric">7th March 2016</td>
            <td class="nobr numeric">Anaëlle Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974f0b">
            <td style="padding-left:15px;" class="">Dora Orhan</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Hearing loss</td>
            
            <td class="nobr numeric">4th March 2016</td>
            <td class="nobr numeric">Jade Chevallier</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52975022">
            <td style="padding-left:15px;" class="">Mayıs Çıtak</td>
            <td><span class="tag director">director</span></td>
            <td>Undergoing sizure investigation</td>
            
            <td class="nobr numeric">12th January 2016</td>
            <td class="nobr numeric">Alexis Boulanger</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974d78">
            <td style="padding-left:15px;" class="">Zak Mitchell</td>
            <td><span class="tag director">director</span></td>
            <td>Arthritis of spine, neck, left and right hip...</td>
            
            <td class="nobr numeric">10th June 2016</td>
            <td class="nobr numeric">Maxence Dupont</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974dd1">
            <td style="padding-left:15px;" class="">Joseph Graham</td>
            <td><span class="tag self">self</span></td>
            <td>ADHD DYLEXIA DIXCPRACIA </td>
            
            <td class="nobr numeric">7th June 2016</td>
            <td class="nobr numeric">Anaëlle Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52975021">
            <td style="padding-left:15px;" class="">Olga Ramos</td>
            <td><span class="tag director">director</span></td>
            <td>Panic attacks and anxiety</td>
            
            <td class="nobr numeric">12th January 2016</td>
            <td class="nobr numeric">Bruno Lefevre</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974d99">
            <td style="padding-left:15px;" class="">İdris Tütüncü</td>
            <td><span class="tag self">self</span></td>
            <td>Profoundly Deaf in both ears since birth</td>
            
            <td class="nobr numeric">9th June 2016</td>
            <td class="nobr numeric">Nick Young</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974dc3">
            <td style="padding-left:15px;" class="">Jamie Martin</td>
            <td><span class="tag visual">visual</span></td>
            <td>Sciatica/ Back ache</td>
            
            <td class="nobr numeric">7th June 2016</td>
            <td class="nobr numeric">John Goldsmith</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e01">
            <td style="padding-left:15px;" class="">Maddison Wilkinson</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>irlen syndrome</td>
            
            <td class="nobr numeric">6th June 2016</td>
            <td class="nobr numeric">Bruno Duval</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974fc1">
            <td style="padding-left:15px;" class="">Irene Soto</td>
            <td><span class="tag hidden">hidden</span></td>
            <td>Chronic pain ,Lymperdema due to a double...</td>
            
            <td class="nobr numeric">2nd February 2016</td>
            <td class="nobr numeric">Bruno Lefevre</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974d8b">
            <td style="padding-left:15px;" class="">Oscar Hunt</td>
            <td><span class="tag visual">visual</span></td>
            <td>Dyslexic </td>
            
            <td class="nobr numeric">9th June 2016</td>
            <td class="nobr numeric">Julie Herve</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974eb8">
            <td style="padding-left:15px;" class="">Luca Gray</td>
            <td><span class="tag pan">pan</span></td>
            <td>hearing impairment</td>
            
            <td class="nobr numeric">25th May 2016</td>
            <td class="nobr numeric">Léonie Vidal</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974dc1">
            <td style="padding-left:15px;" class=""> Juan Luis García</td>
            <td><span class="tag large">large</span></td>
            <td>Stroke</td>
            
            <td class="nobr numeric">7th June 2016</td>
            <td class="nobr numeric">Nick Young</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e4a">
            <td style="padding-left:15px;" class="">Jay Bailey</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>TENNIS ELBOW</td>
            
            <td class="nobr numeric">1st June 2016</td>
            <td class="nobr numeric">Valentine Duval</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974dca">
            <td style="padding-left:15px;" class="">Ramazan Şirin</td>
            <td><span class="tag large">large</span></td>
            <td>Learning difficulties</td>
            
            <td class="nobr numeric">7th June 2016</td>
            <td class="nobr numeric">Kim Cox</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e2a">
            <td style="padding-left:15px;" class="">Dominic Russell</td>
            <td><span class="tag pan">pan</span></td>
            <td>Registered Blind</td>
            
            <td class="nobr numeric">2nd June 2016</td>
            <td class="nobr numeric">Salomé Jean</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974dd2">
            <td style="padding-left:15px;" class="">Sebastián Gallardo</td>
            <td><span class="tag deaf">deaf</span></td>
            <td>chronic nuerological conditions affecting mobility...</td>
            
            <td class="nobr numeric">7th June 2016</td>
            <td class="nobr numeric">Nick Young</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974de5">
            <td style="padding-left:15px;" class="">Megan Richards</td>
            <td><span class="tag visual">visual</span></td>
            <td>Dysphraxia</td>
            
            <td class="nobr numeric">7th June 2016</td>
            <td class="nobr numeric">Valentine Duval</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974e49">
            <td style="padding-left:15px;" class="">Ahmet Türköz</td>
            <td><span class="tag pan">pan</span></td>
            <td>profoundly deaf and visual impaired</td>
            
            <td class="nobr numeric">1st June 2016</td>
            <td class="nobr numeric">Julie Guichard</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f5297503d">
            <td style="padding-left:15px;" class="">İlayda Arnas</td>
            <td><span class="tag visual">visual</span></td>
            <td>Hearing loss</td>
            
            <td class="nobr numeric">17th December 2015</td>
            <td class="nobr numeric">Alexis Boulanger</td>
          </tr>
          
        
          
          <tr class="click_row" data-id="577ec21cab94bc3f52974fae">
            <td style="padding-left:15px;" class="">Sahra Sevindi</td>
            <td><span class="tag pan">pan</span></td>
            <td>Peripheral neuropathy caused by nerve damage of my...</td>
            
            <td class="nobr numeric">4th February 2016</td>
            <td class="nobr numeric">Noah Dubois</td>
          </tr>
          
        
        </table>
      </div><!-- box -->
    </div><!-- column -->
  </div><!-- row -->
</div><!-- container -->

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var id = $(this).data('id');
      window.location.href = "/{{TEMPLATE_FOLDER}}/customer/application_1";
    });
  });
</script>
{% endblock %}
