{% extends TEMPLATE_FOLDER+"/layout.html" %}

{% block staff_content %}



<div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">
        <li id="nav-home" class="active"><a href="adviser">My cases</a></li>
        <li id="nav-case"><a href="advisers">My team</a></li>
        <li id="nav-allocator"><a href="allocate">Allocate</a></li>
        <li id="nav-dash"><a href="search">Search</a></li>
    </ul>
  </div>
  <div class="external-links-wrapper">
    <ul class="external-links">
      <li class="main-nav-link"><a href="all-teams">All teams</a></li>
      <span class="pipe">|</span>
      <li class="main-nav-link"><a href="all-advisers">All advisers</a></li>
    </ul>
  </div>
</div>


  {{ case | log }}

  {% include TEMPLATE_FOLDER + "/_inc/app_top.html" %}

  

  <div class="container">
    <div class="grid-row">

    {#
      <!-- <div class="column-third" style="padding-right:30px">
        
      </div><!-- column --> 
    #}

      <div class="column-two-thirds">

        {% block case_content %}{% endblock %}

      </div><!-- column -->

      <div class="column-one-third">

        {% include TEMPLATE_FOLDER + "/_inc/app_status.html" %}

      </div><!-- column -->

    </div><!-- row -->
  </div>

{% endblock %}

{% block page_script %}
  {% include TEMPLATE_FOLDER + "/_inc/adviser_edit.html" %}
{% endblock %}
