{% extends TEMPLATE_FOLDER+"/layout.html" %}

{% block staff_content %}

  {{ advisers | log }}

  <div class="staff__heading">
    <div class="staff__centred">
      <h1 class="heading-xlarge">Log in</h1>
    </div>
  </div>

  <div class="container">
    <div class="grid-row">
      <div class="column-full">

          <p>Who are you?</p>
          <div class="form-group">
            <select class="dropdown" id="login">
              {% for item in advisers %}
                <option value="{{item.id}}">{{item.name}} {{item.surname}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <button class="button" id="submit">Log in</button>
          </div>

      </div><!-- column-ful -->
    </div><!-- grid-row -->
  </div><!-- container -->


{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('#submit').on('click',function(e)
    {
      e.preventDefault();
      var v = $('#login').val();
      var formdata = {
        "adviser":v,
      }
      $.ajax({
        url: '/{{TEMPLATE_FOLDER}}/login/update',
        method: "POST",
        contentType: 'application/json',
        data: JSON.stringify(formdata),
        dataType: 'json',
        complete:  function(data,status,xhr) {
          window.location.href = "/{{TEMPLATE_FOLDER}}/adviser/"+v;
          console.log(data);
        }});

    });
  });
</script>
{% endblock %}
