{% extends TEMPLATE_FOLDER+"/layout.html" %}

{% block staff_content %}

  {# {{ cases | log }} #}

  
<div class="nav-horizontal">
  <div class="main-nav-wrapper">
    <ul class="main-nav">
        <li id="nav-home"><a href="adviser">My cases</a></li>
        <li id="nav-case"><a href="advisers">Team cases</a></li>
        <li id="nav-dash" class="selected"><a href="search">Search</li>      
    </ul>
  </div>
  <div class="external-links-wrapper">
    <ul class="external-links">
      <li class="main-nav-link"><a href="all-teams">All teams</a></li>
      <li class="main-nav-link"><a href="alladvisers">All advisers</a></li>
    </ul>
  </div>
</div>

<div class="column-full">

  <div class="search-box-container">
    <h1 class="heading-large">Find a case</h1>
    <form action="dosearch" method="get" class="form" id="search-form">
      <label class="form-hint" for="nino">Enter any details from the Access to Work case</label>
      <input id="nino" type="search" autocomplete="off" name="nino" class="form-control js-search-focus">
      <input id="search-submit" type="submit" class="search-submit" value="Search">
    </form>
  </div>

  </div> <!-- column-full -->
  
{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var id = $(this).data('id');
      window.location.href = "/{{TEMPLATE_FOLDER}}/customer/"+id;
    });
  });
</script>
{% endblock %}
