{% extends TEMPLATE_FOLDER + "/inc/layout.html" %}

{% block staff_content %}

{# this is a macro: pass the id of the selected iteam. Code in inc/layout.html #}
{{ horizontal_nav('nav-unallocated') }}

  <div class="container">

  <h1 class="bold-xlarge mb30">Unallocated cases</h1>

    <div class="grid-row">
      <div class="column-full">

        <table class="zebra">
          <thead>
            <tr>
              <th style="padding-left:15px;">Name</th>
              <th>Condition</th>
              <th>Status</th>
              <th class="numeric">Since</th>
            </tr>
          </thead>
          <tbody>
              <tr class="click_row" href="customer/timeline_1">
                <td>Marcus Reed</td>
                <td>Autism</td>
                <td></td>
                <td class="numeric">08:01am - 12th June 2017</td>
              </tr>
              <tr class="click_row" href="customer/timeline_2">
                <td>Martin Short</td>
                <td>Eplilepsy</td>
                <td></td>
                <td class="numeric">08:12am - 12th June 2017</td>
              </tr>
              <tr class="click_row" href="customer/timeline_3">
                <td>Cheryl Cook</td>
                <td>Depression</td>
                <td></td>
                <td class="numeric">10:21am - 12th June 2017</td>
              </tr>
              <tr class="click_row" href="customer/timeline_2">
                <td>Paul John-Jones</td>
                <td>Autism</td>
                <td></td>
                <td class="numeric">10:38am - 12th June 2017</td>
              </tr>
              <tr class="click_row" href="customer/timeline_2">
                <td>Pauline McCallum</td>
                <td>Depression</td>
                <td></td>
                <td class="numeric">12:45pm - 12th June 2017</td>
              </tr>
              <tr class="click_row" href="customer/timeline_2">
                <td>Jonty Lee</td>
                <td>Depression</td>
                <td></td>
                <td class="numeric">12:52pm - 12th June 2017</td>
              </tr>
              <tr class="click_row" href="customer/timeline_2">
                <td>Peter Keil</td>
                <td>Blind</td>
                <td></td>
                <td class="numeric">01:12pm - 12th June 2017</td>
              </tr>
              <tr class="click_row" href="customer/timeline_2">
                <td>Seamus Murphy</td>
                <td>Multiple Sclerosis</td>
                <td></td>
                <td class="numeric">02:34pm - 12th June 2017</td>
              </tr>
              <tr class="click_row" href="customer/timeline_2">
                <td>Martin Smith</td>
                <td>Deaf</td>
                <td></td>
                <td class="numeric">02:47pm - 12th June 2017</td>
              </tr>
              <tr class="click_row" href="customer/timeline_2">
                <td>Caitlin Rose</td>
                <td>Blind</td>
                <td></td>
                <td class="numeric">03:27pm - 12th June 2017</td>
              </tr>
              <tr class="click_row" href="customer/timeline_2">
                <td>Scott Moore</td>
                <td>Autism</td>
                <td></td>
                <td class="numeric">03:34pm - 12th June 2017</td>
              </tr>
          </tbody>
        </table>

     </div><!-- column -->

    </div><!-- row -->

</div><!-- container -->

{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var id = $(this).data('id');
      window.location.href = "/{{TEMPLATE_FOLDER}}/customer/"+id;
    });
  });
</script>
{% endblock %}
