{% extends PATH + "/inc/layout.html" %}

{% block staff_content %}

{# this is a macro: pass the id of the selected iteam. Code in inc/layout.html #}
{{ horizontal_nav('nav-cases') }}

<div class="container">
<h1 class="heading-large">Close to deadline applications</h1>
          
    <div class="grid-row">
      <div class="column-full">

        <table class="zebra" sortable>
          <thead>
            <tr>
                <th style="padding-left:15px;">Name</th>
                <th>NINo</th>
                <th>Status</th>
                <th class="numeric">Next action date</th>
                <th class="numeric">Case start</th>
              </tr>
          </thead>
          <tbody>             
              <tr href="citizen/timeline" class="click_row">
                <td>Paul John-Jones</td>
                <td>DD445566D</td>
                <td>Employer call made</td>
                <td class="numeric" style="color: orange">5 October 2017</td>
                <td class="numeric">20 September 2017</td>
              </tr>
              <tr href="citizen/timeline" class="click_row">
                <td>Oliver Reed - Salesman, Carphone Warehouse <a href="citizen/all-cases">(3 cases in total)</a></td>
                <td>AA123456A</td>
                <td>Request medical evidence</td>
                <td class="numeric" style="color: orange">7 October 2017</td>
                <td class="numeric">13 August 2017</td>
              </tr>
              <tr href="citizen/timeline" class="click_row">
                <td>Alice Wolfe</td>
                <td>AA253416A</td>
                <td>Assessment requested</td>
                <td class="numeric" style="color: orange">8 October 2017</td>
                <td class="numeric">1 September 2017</td>
              </tr>
              <tr href="citizen/timeline" class="click_row">
                <td>Julie Sprat</a></td>
                <td>BB666541C</td>
                <td>Support offered</td>
                <td class="numeric" style="color: orange">9 October 2017</td>
                <td class="numeric">13 August 2017</td>
              </tr>
              <tr href="citizen/timeline" class="click_row">
                <td>Celia Mallow</td>
                <td>BB231456A</td>
                <td>Case reassigned</td>
                <td class="numeric" style="color: orange">9 October 2017</td>
                <td class="numeric">3 August 2017</td>
              </tr>
          </tbody>
        </table>

     </div><!-- column -->

    </div><!-- row -->

</div><!-- container -->

{% endblock %}

{% block page_script %}
{% include PATH + "/inc/table-sorting.html" %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('a').on('click', function(e){
      e.stopPropagation();
    });
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var href = $(this).attr('href');
      window.location.href = href;
    });
  });
</script>
{% endblock %}
