{% extends PATH + "/inc/layout.html" %}

{% block staff_content %}

{# this is a macro: pass the id of the selected iteam. Code in inc/layout.html #}
{{ horizontal_nav('nav-cases') }}

<div class="container">
<h1 class="heading-large">Application 20 days old and over</h1>
          
    <div class="grid-row">
      <div class="column-full">

        <table class="zebra" sortable>
          <thead>
            <tr>
                <th style="padding-left:15px;">Name</th>
                <th>NINo</th>
                <th>Status</th>
                <th class="numeric">Next action date</th>
                <th class="numeric">Case age</th>
              </tr>
          </thead>
          <tr href="citizen/timeline" class="click_row">
                <td>Oliver Reed - Trainee Manager, McDonalds #2 <a href="citizen/all-cases">(3 cases in total)</a></td>
                <td>AA123456A</td>
                <td>Offer sent</td>
                <td class="numeric" style="color: red">5 October 2017</td>
                <td class="numeric" style="color: red">29 days</td>
              </tr>
              <tr href="citizen/timeline" class="click_row">
                <td>Mavis Prince</td>
                <td>AK474747A</td>
                <td>Referred for assessment</td>
                <td class="numeric">5 October 2017</td>
                <td class="numeric" style="color: red">21 days</td>
              </tr>
        </table>

     </div><!-- column -->

    </div><!-- row -->

</div><!-- container -->

{% endblock %}

{% block page_script %}
{% include PATH + "/inc/table-sorting.html" %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('a').on('click', function(e){
      e.stopPropagation();
    });
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
      var href = $(this).attr('href');
      window.location.href = href;
    });
  });
</script>
{% endblock %}
