{% extends PATH + "/inc/layout.html" %}

{% block staff_content %}

{# this is a macro: pass the id of the selected iteam. Code in inc/layout.html #}
{{ horizontal_nav('nav-team') }}

 <div class="container">
    <div class="grid-row">
      <div class="column-one-third">
        <div class="font-xlarge"><span class="bold-xlarge">Specialism:</span> Hidden</div>
      </div>
      <div class="column-two-thirds">
        <div class="grid-row">
          <div class="column-one-quarter">
            <a href="cases_in_team">
              <h1 class="bold-xlarge">105</h1>
              <p>cases in specialism</p>
            </a>
          </div>
          <div class="column-one-quarter">
            <a href="outstanding_bf">
              <h1 class="bold-xlarge">75</h1>
              <p>Outstanding next action dates</p>
            </a>  
          </div>
          <div class="column-one-quarter">
            <a href="over_15days">
              <h1 class="bold-xlarge">12</h1>
              <p>Outstanding interim decision over 15 days</p>
            </a>  
          </div>
          <div class="column-one-quarter">
            <a href="over_20days">
              <h1 class="bold-xlarge">18</h1>
              <p>Outstanding offer made over 20 days</p>
            </a>  
          </div>
        </div>
      </div>
    </div><!-- .row -->

    <hr>

  <!--  <div class="grid-row click_row" href="your_cases">
      <div class="column-one-third font-large" >
        John Goldsmith
      </div> <!-- COLUMN ONE THIRD -->
   <!--   <div class="column-two-thirds">
        <div class="grid-row">
          <div class="column-one-quarter">
           <h1 class="bold-large">25</h1>
            <p class="font-small">Total applications</p>
          </div> <!-- COLUMN ONE QUARTER -->
   <!--       <div class="column-one-quarter">
           <h1 class="bold-large">20</h1>
            <p class="font-small">Active applictions</p>
          </div>
          <div class="column-one-quarter">
           <h1 class="bold-large">2</h1>
            <p class="font-small">Pending applications</p>
          </div>
          <div class="column-one-quarter">
           <h1 class="bold-large">3</h1>
            <p class="font-small">New applications</p>
          </div>
      </div>  <!-- GRID ROW -->
  <!--    </div> <!-- COLUMMN TWO THIRDS -->
 <!-- </div> <!-- GRID ROW -->

 <!--   <hr>

    <div class="grid-row click_row">
     <div class="column-one-third font-large">
        Marjorie Hill
      </div>  <!-- column -->
    <!--  <div class="column-two-thirds">
        <div class="grid-row">
          <div class="column-one-quarter">
           <h1 class="bold-large">18</h1>
            <p class="font-small">Total</p>
          </div> <!-- COLUMN ONE QUARTER -->
   <!--       <div class="column-one-quarter">
           <h1 class="bold-large">9</h1>
            <p class="font-small">Active</p>
          </div> <!-- COLUMN ONE QUARTER -->
    <!--      <div class="column-one-quarter">
           <h1 class="bold-large">2</h1>
            <p class="font-small">Pending</p>
          </div> <!-- COLUMN ONE QUARTER -->
     <!--     <div class="column-one-quarter">
           <h1 class="bold-large">7</h1>
            <p class="font-small">New</p>
          </div> <!-- COLUMN ONE QUARTER -->
  <!--    </div>  <!-- GRID ROW -->
 <!--   </div> <!-- COLUMN TWO THIRDS -->
<!--  </div> <!-- GRID ROW -->

 <!--  <hr>

      <div class="grid-row click_row">
      <div class="column-one-third font-large">
        Meghan Isleworth
      </div> <!-- column -->
      
   <!--   <div class="column-two-thirds">
        <div class="grid-row">
          <div class="column-one-quarter">
           <h1 class="bold-large">32</h1>
            <p class="font-small">Total</p>
          </div> <!-- COLUMN ONE QUARTER -->
      <!--    <div class="column-one-quarter">
           <h1 class="bold-large">25</h1>
            <p class="font-small">Active</p>
          </div>
          <div class="column-one-quarter">
           <h1 class="bold-large">1</h1>
            <p class="font-small">Pending</p>
          </div>
          <div class="column-one-quarter">
           <h1 class="bold-large">6</h1>
            <p class="font-small">New</p>
          </div>
      </div>  <!-- GRID ROW -->
<!--      </div> <!-- COLUMN TWO THIRDS -->
 <!--   </div> <!-- grid-row -->

<!--    <hr>

    <div class="grid-row click_row">
    <div class="column-one-third font-large">
        Trudie Malackay
      </div> <!-- column -->
      
 <!--     <div class="column-two-thirds">
        <div class="grid-row">
          <div class="column-one-quarter">
           <h1 class="bold-large">30</h1>
            <p class="font-small">Total</p>
          </div> <!-- COLUMN ONE QUARTER -->
   <!--       <div class="column-one-quarter">
           <h1 class="bold-large">19</h1>
            <p class="font-small">Active</p>
          </div>
          <div class="column-one-quarter">
           <h1 class="bold-large">8</h1>
            <p class="font-small">Pending</p>
          </div>
          <div class="column-one-quarter">
           <h1 class="bold-large">3</h1>
            <p class="font-small">New</p>
          </div>
      </div>  <!-- GRID ROW -->
  <!--    </div> <!-- COLUMN TWO THIRDS -->
<!--    </div> <!-- grid-row -->

    <div class="grid-row">
      <div class="column-full">

        <table class="zebra" sortable>
          <thead>
            <tr>
              <th style="padding-left:15px;">Adviser</th>
              <th>Total applications</th>
              <th>Active aplications</th>
              <th>Pending aplications</th>
              <th>New applications</th>
            </tr>
          </thead>
          <tbody>
              <tr href="your_cases" class="click_row">
                <td>John Goldsmith</td>
                <td>25</td>
                <td>22</td>
                <td>1</td>
                <td>2</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Marjorie Hill</td>
                <td>18</td>
                <td>9</td>
                <td>2</td>
                <td>7</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Meghan Isleworth</td>
                <td>32</td>
                <td>25</td>
                <td>1</td>
                <td>6</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Trudie Malackay</td>
                <td>30</td>
                <td>19</td>
                <td>8</td>
                <td>3</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Sarah Micheals</td>
                <td>30</td>
                <td>20</td>
                <td>7</td>
                <td>3</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Craig Morley</td>
                <td>32</td>
                <td>27</td>
                <td>3</td>
                <td>2</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Sohail Rumdhan</td>
                <td>28</td>
                <td>15</td>
                <td>5</td>
                <td>8</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Lou Marchel</td>
                <td>35</td>
                <td>20</td>
                <td>8</td>
                <td>7</td>
              </tr>
          </tbody>
        </table>

     </div><!-- column -->

    </div><!-- row -->

   </div> <!-- container -->


{% endblock %}

{% block page_script %}
{% include PATH + "/inc/table-sorting.html" %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('a').on('click', function(e){
      e.stopPropagation();
    });
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
       var href = $(this).attr('href');
      window.location.href = href;
    });
  });
</script>
{% endblock %}
