{% extends PATH + "/inc/layout.html" %}

{% block staff_content %}

{# this is a macro: pass the id of the selected iteam. Code in inc/layout.html #}
{{ horizontal_nav('nav-team') }}

 <div class="container">
    <div class="grid-row">
      <div class="column-one-third">
        <div class="font-xlarge"><span class="bold-xlarge">Specialism:</span> Deaf #1</div>
      </div>
      <div class="column-two-thirds">
        <div class="grid-row">
          <div class="column-one-quarter">
            <a href="cases_in_team">
              <h1 class="bold-xlarge">105</h1>
              <p>cases in specialism</p>
            </a>
          </div>
          <div class="column-one-quarter">
            <a href="outstanding_bf">
              <h1 class="bold-xlarge">75</h1>
              <p>Outstanding next action dates</p>
            </a>  
          </div>
          <div class="column-one-quarter">
            <a href="over_15days">
              <h1 class="bold-xlarge">12</h1>
              <p>Outstanding interim decision over 15 days</p>
            </a>  
          </div>
          <div class="column-one-quarter">
            <a href="over_20days">
              <h1 class="bold-xlarge">18</h1>
              <p>Outstanding offer made over 20 days</p>
            </a>  
          </div>
        </div>
      </div>
    </div><!-- .row -->

    <hr>
 
    <div class="grid-row">
      <div class="column-full">

        <table class="zebra" sortable>
          <thead>
            <tr>
              <th style="padding-left:15px;">Adviser</th>
              <th>Total applications</th>
              <th>Active aplications</th>
              <th>Pending aplications</th>
              <th>New applications</th>
            </tr>
          </thead>
          <tbody>
              <tr href="your_cases" class="click_row">
                <td>John Goldsmith</td>
                <td>25</td>
                <td>22</td>
                <td>1</td>
                <td>2</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Marjorie Hill</td>
                <td>18</td>
                <td>9</td>
                <td>2</td>
                <td>7</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Meghan Isleworth</td>
                <td>32</td>
                <td>25</td>
                <td>1</td>
                <td>6</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Trudie Malackay</td>
                <td>30</td>
                <td>19</td>
                <td>8</td>
                <td>3</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Sarah Micheals</td>
                <td>30</td>
                <td>20</td>
                <td>7</td>
                <td>3</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Craig Morley</td>
                <td>32</td>
                <td>27</td>
                <td>3</td>
                <td>2</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Sohail Rumdhan</td>
                <td>28</td>
                <td>15</td>
                <td>5</td>
                <td>8</td>
              </tr>
              <tr href="your_cases" class="click_row">
                <td>Lou Marchel</td>
                <td>35</td>
                <td>20</td>
                <td>8</td>
                <td>7</td>
              </tr>
          </tbody>
        </table>

     </div><!-- column -->

    </div><!-- row -->

   </div> <!-- container -->


{% endblock %}

{% block page_script %}
{% include PATH + "/inc/table-sorting.html" %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    $('a').on('click', function(e){
      e.stopPropagation();
    });
    $('.click_row').on('click',function(e)
    {
      e.preventDefault();
       var href = $(this).attr('href');
      window.location.href = href;
    });
  });
</script>
{% endblock %}
