{% extends "layout.html" %}

{% block page_title %}
  Claim overview
{% endblock %}

{% block content %}

<main id="content" role="main">

  

        <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>



     <div class="grid-row">
     

          <main id="content" role="main">

          <h1 class="heading-large">
            Review and send your claim
          </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Your previous claims made
          </h2>
          <h2 class="heading-medium">
            February 2017
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Multi Travel
        </td>
        <td>
          25th - 30th January 2017<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          One-off
        </td>
        <td>
          Chair
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
Multi Travel        </td>
        <td>
          1st - 5th February 2017
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Travel
        </td>
        <td>
          6th February 2017<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Importer name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>



          <div class="form-group">
            <p><a href="/payments_login_mobile_v1/claim_type">Add another claim</a></p>
          </div>
            
         <h2 class="heading-medium">Now send your claim</h2>

          <p>Your claim will now be sent to your employer for verifying.</p>

       <fieldset>
          <legend class="form-label-bold dec-legend" id="app">By sending this claim you agree that:</legend>

          <div class="form-group">
            <ul class="list-bullet" aria-labelledby="app">
              <li>the information in this claim is correct as far as you know</li>
              <li>you'll tell the Access to Work unit about any changes to your condition or circumstances, eg if your place of work changes</li>
              <li>you agree to the <a href="email">email terms</a></li>
            </ul>

            <div class="application-notice help-notice">
              <p>It might be a criminal offence if you knowingly give false information or don't report anything that would affect your grant, eg if your condition improves or you change where you work.</p>
            </div>
          </div>

        </fieldset>




          <div class="form-group">
            <a href="/Payments_login_mobile_v1/confirmation" class="button">Agree and send claim</a>
          </div>

      </main>

                  
    </div>
         
         <div class="column-one-third">

         </div>

  </div>    
</main>

{% endblock %}
