{% extends "layout.html" %}

{% block page_title %}
  Confirmation
{% endblock %}

{% block content %}



<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
  
  <div class="secondary-bar">
    <ul class="external-links">
      <li class="main-nav-link"><a href="logged_out">Log Out</a></li>
  
    </ul>
  </div>
</div>
  </div>

    <div class="grid-row">
    <div class="column-two-thirds">

      <div class="completion">
        <h1 class="form-title heading-large" id="complete" style="padding-top:0px">Your claim has been sent</h1>
        <p style="color:white;margin-top:px">Your reference number is: <b style="font-weight:700">1234ABCD</b></p>
      </div>
      <!-- <p>We have sent you a confirmation email.</p> -->

      <h2 class="heading-medium">What happens next</h2>
      <!-- <p>Your Access To Work claim will be verified.</p> -->
      <p>Access To Work will contact you if they need to ask for more information.</p>
     <!-- <p>You will receive a confirmation text when your employer has sent your claim to the Access To Work team.</p> -->
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

    
    <p> <a class="button" href="/Payments_login_mobile_v1/your_account">Finish</a></p>
        
    
</main>
{% endblock %}
