{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
<div class="grid-row">
    <div class="column-two-thirds">

       <h1 class="form-title heading-large">You have successfully logged out.</h1>

<p>
  <a href="start_page">Click here</a> to log back in.
</p>



     

  
    </div>
    <div class="column-third">

      
    </div>
  </div>
      
    </div>
  </div>
</main>

{% endblock %}


