{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">

<div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    
  <div class="grid-row">
    <div class="column-full">
      
  
  <div class="secondary-bar">
    <ul class="external-links">
      <li class="main-nav-link"><a href="logged_out">Log Out</a></li>
  
    </ul>
  </div>
</div>
  </div>

<div class="form-group">
            <p><a href="/Payments_login_mobile_v1//your_account">Back</a></p>
          </div>
          
      <h1 class="heading-xlarge">
        Your previous claims
        <span class="heading-secondary"></span>
      </h1>{{releaseVersion | log }}

<div class="main-content">               


<div class="grid-row">
      
      <div class="column-full summary-nav-wrapper">   


<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            February 2017
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Multi Travel
        </td>
        <td>
          25th - 30th January 2017<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Pending <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          One-off
        </td>
        <td>
          Chair
        </td>
        <td class="change-answer">
          <a href="#">
            Paid <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
Multi Travel        </td>
        <td>
          1st - 5th February 2017
        </td>
        <td class="change-answer">
          <a href="#">
            Paid <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Travel
        </td>
        <td>
          6th February 2017<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Paid <span class="visuallyhidden">Importer name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            January 2017
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Multi Travel
        </td>
        <td>
          25th - 30th January 2017<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Paid <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          One-off
        </td>
        <td>
          Chair
        </td>
        <td class="change-answer">
          <a href="#">
            Paid <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
Multi Travel        </td>
        <td>
          1st - 5th February 2017
        </td>
        <td class="change-answer">
          <a href="#">
            Paid <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Travel
        </td>
        <td>
          6th February 2017<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Paid <span class="visuallyhidden">Importer name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            December 2016
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Multi Travel
        </td>
        <td>
          25th - 30th January 2017<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Paid <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          One-off
        </td>
        <td>
          Chair
        </td>
        <td class="change-answer">
          <a href="#">
            Paid <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
Multi Travel        </td>
        <td>
          1st - 5th February 2017
        </td>
        <td class="change-answer">
          <a href="#">
            Paid <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Travel
        </td>
        <td>
          6th February 2017<br>
        </td>
        <td class="change-answer">
          <a href="#">
            Paid <span class="visuallyhidden">Importer name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>  

</div>


    </div>
  </div>
</main>

{% endblock %}


