{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

  <div class="grid-row">
    <div class="column-three-thirds">

   


<div class="column-full">

<h1 class="heading-xlarge">
        Please sign in to your account
        <span class="heading-secondary"></span>
      </h1>{{releaseVersion | log }}

            <div class="form-group">
                <label class="form-label" for="ni-number">Access to work reference number</label>
                <input class="form-control" id="ni-number" type="text">
             </div>     

            <div class="form-group">
              <label class="form-label" for="middle-name">Password</label>
              <input class="form-control" id="middle-name" type="text">
            </div>  

            <div class="form-group">
                <a href="/payments_login_mobile_v1/your_account" class="button button-get-started" value="Login">
             <!-- <input class="button button-get-started" value="Start Now"> -->
                Login</a>
            </div>


            <p>Forgotten password? <a href="reset">Reset password</a></p>

     </div>

    </div>
  </div>
</main>

{% endblock %}


