{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

<form action="{{ prototype.current.path }}please-wait" method="post" enctype="multipart/form-data">

  <h1 class="heading-large">
    Take a photo of your paper form
  </h1>

  <div class="photo-upload-example">
    <img src="/public/images/fitnote-example-left-side.jpg" alt="" />
    <h2 class="bold-small">
      Example photo
    </h2>
    <p>You only need to take a photo of the left side of the form
    </p>

  </div>

  <!-- <img src="/public/images/guide-fitnote-photo-2x.png" width="50%" /> -->

  <h2 class="heading-small">
    Instructions
  </h2>

  <ul class="list list-number">
    <li>Place your paper form face up on a flat surface like a table or the floor</li>
    <li>Make sure the area is well lit</li>
    <li>Hold your phone directly above the form</li>
    <li>Make sure all of the left side of the form is in the photo</li>
  </ul>

  <div class="preview-box">
    <div class="preview-box__inner">
      <div class="preview-box__image">
        <div class="preview-box__image__thumb">
          <div id="image-holder" class="preview-box__image__thumb__img">
            <img src="" alt="" class="preview-image preview-init" />
          </div>
        </div>
      </div>
      <div class="preview-box__ui">
        <p class="bold-small">Is the photo sharp, clear and contains all four corners?</p>
        <div class="grid">
          <div class="grid__item one-half">
            <a href="#" class="preview-retry button" style="width: 100%;text-align:center;">No - Retry</a>
          </div>
          <div class="grid__item one-half">
            <input type="submit" class="preview-send button" style="width: 100%;" value="Yes - Continue">
            <!-- <a href="{{ prototype.current.path }}please-wait" class="preview-send button" style="width: 100%;">Yes - Continue</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="form-group">
    <a href="#" class="button fake-button" id="fake-input">Take photo</a>
  </div>

  <div class="form-group visuallyhidden">
    <label class="form-label-bold" for="scan-barcode">Scan barcode</label>
    <input type="file" accept="image/*" class="button" id="scan-barcode" name="scan-barcode" value="">
  </div>

</form>

<div id="display"></div>

{% endblock %}

{% block body_end %}

  {{ super() }}

  <script src="http://tenso.rs/tesseract.js"></script>

  <script language="JavaScript">

    var page = {

      file: '',

      showFile: function() {
        var $preview = $('.preview-image');
        var file    = document.querySelector('input[type=file]').files[0];
        var reader  = new FileReader();

        reader.addEventListener("load", function () {
          self.file = reader.result;
          $preview.attr('src',self.file);
        }, false);

        if (file) {
          // console.log(reader.readAsDataURL(file));
          // reader.readAsDataURL(file);
          reader.readAsDataURL(file);
        }
      },

      handleUpload: function() {

        var self = this;
        var $input = $('#scan-barcode');
        var $fakeInput = $('#fake-input');
        var $previewImage = $('.preview-image');
        var $previewBox = $('.preview-box');
        var $previewSend = $('.preview-send');
        var $previewRetry = $('.preview-retry');
        var reader;

        if($input.length) {

          $input.on('change',function(e){
            self.showFile();
            $previewImage.removeClass('visuallyhidden');
            $previewBox.addClass('active');
          });

          $fakeInput.on('click', function(e){
            $input.trigger('click');
            e.preventDefault();
          });

          $previewRetry.on('click', function(e){
            $input.trigger('click');
            e.preventDefault();
          })

        }

      },

      demo: function() {
        var img = document.querySelector('img.preview-image');
        Tesseract.recognize(img,{
            progress: function(e){
                console.log(e)
            }
        }).then( function(d){ console.log(d.text) } )
      },

      init: function() {
        var self = this;
        self.handleUpload();
      }

    }

    $(function(){
      page.init();
    });

	</script>

{% endblock %}
