{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

  <div class="grid-row">
    <div class="column-full">
      
  
  <div class="secondary-bar">
    <ul class="external-links">
      <li class="main-nav-link"><a href="logged_out">Log Out</a></li>
  
    </ul>
  </div>
</div>
  </div>

      <h1 class="heading-xlarge">
        Your account
        <span class="heading-secondary"></span>
      </h1>{{releaseVersion | log }}

<div class="main-content">        


    <div class="grid-row">
      
      <div class=" summary-nav-wrapper">   



<div class="js-tabs nav-tabs">

 <ul class="" role="">

</ul>


  <ul class="tabs-nav" role="tablist">

    <li class="active"><a href="/Payments_login_mobile_v1/open_claims" role="tab" id="">Open Claims</a></li><br>
</ul>


<ul class="tabs-nav" role="tablist">
    
    <li class=""><a href="/Payments_login_mobile_v1/Previous_claims" role="tab" id="tab-other-ways-to-apply" aria-controls="other-ways-to-apply">Previous Claims</a></li><br>
    </ul>

    <ul class="tabs-nav" role="tablist">
  
  <li class=""><a href="/Payments_login_mobile_v1/your_details" role="tab" id="tab-other-ways-to-apply" aria-controls="other-ways-to-apply">Your details</a></li><br>

</ul>

<ul class="tabs-nav" role="tablist">
    <li class=""><a href="/Payments_login_mobile_v1/payee_details" role="tab" id="tab-other-ways-to-apply" aria-controls="other-ways-to-apply">Payee details</a></li><br>
  </ul>

<div class="column-two-thirds">
<p class="lede" style="margin-top: 30px" s>
You can press the button below to go straight to making a claim.</p>
      
<div class="form-group">
      <p> <a class="button" href="/Payments_login_mobile_v1/start_new_claim">Start new claim</a></p>
     </div>
     </div>

    </div>


  


</div>
    
     </li>
  </ul> 



<p class="lede" style="margin-top: 30px">
</p>
    


    </div>
  </div>
</main>

{% endblock %}


