{% extends PATH+"/inc/layout_case.html" %}

{% block case_content %}

{#
  this is a macro: pass the name of the selected item
  and the number for the url.
  Code in inc/layout_case.html
#}
{{ case_tabs("contact",1) }}

<div class="grid-row mt30">
  <div class="column-half">
    <p>
      <span class="font-xsmall">Date of birth</span><br />
      <span class="bold-medium">13th December 1980</span>
    </p>

    <p>
      <span class="font-xsmall">Address</span><br />
      <span class="bold-medium">25 Acaicia Avenue</span><br />
      <span class="bold-medium">Holstead</span><br />
      <span class="bold-medium">London</span><br />
      <span class="bold-medium">NW1 6XE</span><br />
    </p>
  </div><!-- column -->
  <div class="column-half">
    <p>
      <span class="font-xsmall">Telephone</span><br />
      <span class="bold-medium">0181 456 321</span>
    </p>
    <p>
      <span class="font-xsmall">Email</span><br />
      <span class="bold-medium"><a href="">bobby@googlemail.com</a></span>
    </p>

  </div><!-- column -->
</div><!-- row -->

{% endblock %}
