{% extends "layout.html" %}

{% block page_title %}
  Confirmation
{% endblock %}

{% block content %}



<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>
  
  <div class="secondary-bar">
    <ul class="external-links">
      <li class="main-nav-link"><a href="/payments_login_desktop_v1/logged_out">Log Out</a></li>
  
    </ul>
  </div>
</div>
  </div>

    <div class="grid-row">
    <div class="column-full">

      <div class="completion">
        <h1 class="form-title heading-large" id="complete" style="padding-top:30px">Your claim has been sent to your employer</h1>
        
      <!-- <p>We have sent you a confirmation email.</p> -->

      <h2 class="heading-medium">What happens next</h2>
      <p>We've sent your Access To Work claim to your employer for verifying.</p>
      <p>They will contact you if they need to ask for more information.</p>
      <p>You will receive a confirmation text from the Access to Work team once your verified claim has been received.</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>
 <p> <a class="button" href="/payments_login_desktop_v1/open_claims">Finish</a></p>

    </div>
  </div>

    
   
        
    
</main>

{% endblock %}
