<div class="version">
  <div class="grid-row">

    <div class="mt1"></div>

    <div class="column-third">
      <p>Version</p>
      <h3 class="heading-small">Login - Desktop prototype 1</h3>
    </div>

    <div class="column-third">
      <p>Date of release</p>
      <h3 class="heading-small">20 Feb 2017</h3>
    </div>

    <div class="column-third">
     <!-- <details>
        <summary><span class="summary">Quick links</span></summary>
        <div class="quicklinks">
          <ul>
            <a href="/payments-v2/start">Start</a><br />
            <!-- <a href="/v1/search-none">Search (none found)</a><br />
            <a href="/v1/person-1?nino=QQ122334C">Person (example 1)</a><br />
            <a href="/v1/person-2?nino=QQ122334C">Person (example 2)</a><br />
            <a href="/v1/person-3?nino=QQ122334C">Person (example 3)</a><br />
            <a href="/v1/upload">Upload data</a><br />
            <a href="/v1/upload-error">Upload (error message)</a><br />
            <a href="/v1/upload-results">Upload (success)</a><br />
            <a href="/v1/tranche">Create tranche</a><br />
            <a href="/v1/tranche-created">Tranche created</a><br />
          </ul>
        </div>
      </details> -->
    </div>

    <div class="column-two-thirds">
      <a href="/Payments_login_desktop_v1/Start_page" class="button button-grey">Start prototype</a>
      <h3 class="heading-small">Changes Made</h3>
      <ul class="list list-bullet">
        <li>First version of a user account login for Access To Work, using GOV.UK styles and patterns</li>
      </ul>
    </div>

  </div><!-- row -->
</div><!-- version -->