{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

  <div class="grid-row">
    <div class="column-full">
      
  
  <div class="secondary-bar">
    <ul class="external-links">
      <li class="main-nav-link"><a href="logged_out">Log Out</a></li>
  
    </ul>
  </div>
</div>
  </div>

      <h1 class="heading-xlarge">
        Your account
        <span class="heading-secondary"></span>
      </h1>{{releaseVersion | log }}

<div class="main-content">        


    <div class="grid-row">
      
      <div class="column-full summary-nav-wrapper">   
  <ul>
   <li class="selected">
      <a id="Open_claims" href="/open_claims" class="menu-item ">Open claims</a>
    </li>

    <li class="">
      <a id="edit_record" href="//previous_claims" class="menu-item ">Previous claims</a>
    </li>

    <li class=""> 
      
        <a id="your details" href="/your_details" class="menu-item">
          Your details <i class="fa fa-exclamation-circle"></i>
        </a>
      
    </li>

    
    <li class="">
      <a id="Payee details" href="/payee_details" class="menu-item">
        Payee details
      </a>
    </li>
    
     </li>
  </ul> 



<p class="lede" style="margin-top: 30px">
  You have no open claims.
</p>
    
<div class="form-group">
      <p> <a class="button" href="/start_new_claim">Start new claim</a></p>
     </div>

    </div>
  </div>
</main>

{% endblock %}


