{% extends "layout.html" %}

{% block page_title %}
  Claim type
{% endblock %}

{% block content %}



<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

      <div class="grid-row">
    <div class="column-full">
      
  
  <div class="secondary-bar">
    <ul class="external-links">
      <li class="main-nav-link"><a href="logged_out">Log Out</a></li>
  
    </ul>
  </div>
</div>
  </div>

    <form action="/select_payee" method="session" class="form">

    <h1 class="form-title heading-large">Who would you like to pay?</h1>

    <fieldset class="form-group">
      <!-- <legend class="form-label-bold" for="claim">What are you claiming for?</legend> -->
      
      <label class="block-label" for="radio-inline-1">
        <input id="radio-inline-1" type="radio" name="payee" value="mybank">
        My bank
      </label>
      <label class="block-label" for="radio-inline-2">
        <input id="radio-inline-2" type="radio" name="payee" value="support1">
        Angela - support worker
      </label>
    </fieldset>
        
    <p> <a class="button" href="upload_receipts">Continue</a></p>
</form>
</main>

{% endblock %}
