{% extends "layout.html" %}

{% block page_title %}
  Employment type
{% endblock %}

{% block content %}



<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <form class="form" method="post">

    <h1 class="form-title heading-large">About your job</h1>

    <fieldset class="form-group">
      <legend class="form-label-bold" for="claim">How are you employed?</legend> 
      
      <label class="block-label" for="radio-inline-1">
        <input id="radio-inline-1" type="radio" name="claimtype" value="employed">
        Employed
      </label>
      <label class="block-label" for="radio-inline-2">
        <input id="radio-inline-2" type="radio" name="claimtype" value="selfemployed">
        Self employed
      </label>

    </fieldset>
        
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

</main>

{% endblock %}
