{% extends "layout.html" %}

{% block page_title %}
  Access to work payments claim
{% endblock %}

{% block content %}

<main id="content" role="main">


  <div class="grid-row">

    <div class="column-two-thirds">

     <h1 class="heading-large">Access to Work payment claim verification</h1>

     <div class="panel panel-border-wide alert-success">
        <p>Your decision has been sent to the Acces to Work paymets procesing team. If you disagreed with the payments claim you may be contacted to explain your decision.</p>
     </div>
      
   

        <div class="form-group">
         <p> <a class="button" href="/index">Close</a></p>
        </div>

    </div>

  </div>

</main>

{% endblock %}