{% extends "layout.html" %}

{% block page_title %}
  Loan offer - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">


  <div class="grid-row">

    <div class="column-two-thirds">

     <h1 class="heading-large">Access to Work payment verification</h1>

      

        <h2 class="heading-medium">What you need to do</h2>

          <ul class="list list-bullet">
            <li>check employees details</li>
            <li>review the receipts</li>
            <li>accept or reject the claim</li>
          </ul>

        <form class="form" method="post">

        <fieldset class="inline">

          <h3 class="heading-medium">Do you agree with the claim?</h3>
         
          <label class="block-label" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="choice" value="yes" >
            Yes
          </label>
          <label class="block-label" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="choice" value="no" >
            No
          </label>

        </fieldset>

        </form>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>

  </div>

</main>

{% endblock %}