<html>
<head>
  <title>Email to employer</title>
  <link href="/public/stylesheets/fonts.css?0.12.0" media="all" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" />  
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/email.css">
</head>

<body class="email-page">

<div class="email">
  <h1 class="heading-medium" style="border-bottom:1px solid black">Email</h1>
  <p class="email-meta email-to"><span class="meta-label">To:</span> your.manager@place.of.work.com</p>
  <p class="email-meta email-from"><span class="meta-label">From:</span> accesstowork@dwp.gsi.gok.uk</p>
  <div class="email-body">
    <p><img src="/public/images/DWP-logo.png" width="120" /></p>
    <p>Dear </p>
    <p>You are required to verify the receipts from Paul Jones payments claim for Access To Work.</p>
    <p><a href="employer-view">View details online</a>.</p>
    <p>Yours sincerely</p>
    <p>Access To Work</p>
  </div>
</div>

</body>
</html>