{% extends "layout_unbranded.html" %}

{% block page_title %}
  Offer pages
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Online offer</h1>

      <ul class="list list-bullet">
        <li><a href="loan-offer-partial-email">Loan offer (partial)</a></li>
        <li><a href="loan-offer-full-email">Loan offer (full)</a></li>
        <li><a href="loan-offer-nil-decision-email">Nil decision</a></li>
      </ul>

    </div>{# / column-two-thirds #}
  </div>{# / grid-row #}
</main>

{% endblock %}