{% extends "layout.html" %}

{% block page_title %}
  Loan offer rejected - Budgeting Loans - GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/beta-banner.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-large">You&rsquo;ve rejected a Budgeting Loan offer of £300</h1>

      <h2 class="heading-medium">Other help you can get</h1>

      <p>You might be able to get a loan from:</p>

      <ul class="list list-bullet">
        <li>your <a href="/find-your-local-council">local council</a></li>
        <li>the <a rel="external" href="http://www.moneymadeclearwales.org/home.php?page_id=60">Discretionary Assistance Fund in Wales</a></li>
        <li>the <a rel="external" href="http://www.nidirect.gov.uk/index/information-and-services/money-tax-and-benefits/benefits-and-financial-support/on-a-low-income-1/help-from-the-social-fund.htm">Northern Ireland Social Fund</a></li>
        <li>the <a rel="external" href="http://www.gov.scot/Topics/People/fairerscotland/scottishwelfarefund"> Scottish Welfare Fund</a></li> 
      </ul>

      <p>
        <a href="https://www.gov.uk/" class="button">Finish</a>
      </p>

    </div>

  </div>

</main>

{% endblock %}