<html>
<head>
  <title>An email to you</title>
  <link href="/public/stylesheets/fonts.css?0.12.0" media="all" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/email.css">
</head>

<body class="email-page">

<div class="email">
  <!-- <h2 class="heading-small" style="border-bottom:3px solid black">Apply for a Budgeting Loan</h2> -->
  <p class="email-meta email-to"><span class="meta-label">To:</span> yourname@gmail.com</p>
  <p class="email-meta email-from"><span class="meta-label">From:</span> budgetingloans@dwp.gsi.gov.uk</p>
  <p class="email-meta email-from"><span class="meta-label">Subject:</span> Your Budgeting Loan application</p>
  <div class="email-body">
    <p><img src="/public/images/DWP-logo.png" width="120" /></p>
    <p>Dear Sarah&comma;</p>
    <p>You applied for a Budgeting Loan on Monday 2 October 2016. I&rsquo;m emailing to let you know that we can offer you a loan for the full amount you asked for.</p>
    <p>Before Monday 16 October you need to&colon;</p>
    <ul class="list listbullet">
      <li><a href="loan-offer-full">read the details of the loan</a></li>
      <li>accept or turn down the offer</li>
    </ul>
    <p>If you have any questions about your application, phone XXX XXXX XXXX.</p>
    <p>Kind regards&comma;</p>
    <p>Stephen Jones<br />Budgeting Loans advisor&comma; DWP</p>
  </div>
</div>

</body>
</html>