<html>
<head>
  <title>An email to you</title>
  <link href="/public/stylesheets/fonts.css?0.12.0" media="all" rel="stylesheet" type="text/css" />
  <link href="/public/stylesheets/govuk-template.css?0.12.0" media="screen" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/email.css">
</head>

<body class="email-page">

<div class="email">
  <h1 class="heading-medium" style="border-bottom:1px solid black">Email</h1>
  <p class="email-meta email-to"><span class="meta-label">To:</span> yourname@gmail.com</p>
  <p class="email-meta email-from"><span class="meta-label">From:</span> budgetingloans@dwp.gsi.gok.uk</p>
  <div class="email-body">
    <p><img src="/public/images/DWP-logo.png" width="120" /></p>
    <p>Dear </p>
    <p>We&rsquo;re afraid we&rsquo;re not able to offer you a Budgeting Loan at this time.</p>
    <p><a href="loan-offer-nil-decision">View full details online</a>.</p>
    <p>If you can&rsquo;t check online, telephone XXX XXXX XXXX to discuss your Budgeting Loan application with an advisor.</p>
    <p>Yours sincerely</p>
    <p>Stephen Jones<br /><small>(Budgeting Loans advisor)</small></p>
  </div>
</div>

</body>
</html>