{% extends "application/layout.html" %}

{% block pageTitle %}About your job{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha.html" %}

<div class="grid-row">



<section class="column-two-thirds" aria-labelledby="aboutjob">

  <h1 class="form-title heading-large">Something's gone wrong</h1>
  <p id="payHelp">You can't view this page.</p>
  <p>Check the link you were sent in your invite email and try again.</p>
  <p>If this is the second time you've seen this message then email <a href='mailto:ATW.DIGITALFIRSTCONTACT@DWP.GSI.GOV.UK'>ATW.DIGITALFIRSTCONTACT@DWP.GSI.GOV.UK</a> and ask for another link.</p>
  <p>You can <a href='https://www.gov.uk/access-to-work'>read about Access to Work</a> on GOV.UK.</p>

</section><!-- .column-two-thirds -->

{% include "application/rightcol.html" %}

</div><!-- .grid-row -->

</main>

{% endblock %}
