{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/application_v13.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}
  Access To Work - Prototype
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block body_end %}
  {% include "application/scripts.html" %}
{% endblock %}

{% block footer_support_links %}
  <div class="footer-detail">
    <p class="font-xsmall"><a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" target="privacyLink">Privacy Policy</a></p>
    <p class="font-xsmall">Made in Leeds by Department for Work &amp; Pensions</p>
  </div>
{% endblock %}
