{% extends "pages.html" %}

{% set version = 'current' %}
{% set pages = ['index',
								'intro3',
								'intro4',
								'start',
								'hearing',
								'hearing-tasks',
								'travel',
								'travel-why',
								'travel-not',
								'travel-why-not',
								'during-work',
								'during-work-why',
								'job-status',
								'employed-limited',
								'employed-self',
								'employed',
								'aboutjob',
								'line-manager',
								'aboutyou',
								'contactyou',
								'declaration',
								'finish']
%}
