<script src="/public/javascripts/govuk-template.js?0.12.0" type="text/javascript"></script>

<script src="/public/javascripts/jquery-1.11.0.min.js"></script>
<script src="/public/javascripts/js.cookie.js"></script>

<!-- govuk_frontend_toolkit js -->
<script src="/public/javascripts/bind.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>

<!-- govuk_elements js -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/application_v13.js"></script>
<script src="/public/javascripts/idle-timer.min.js"></script>
<script src="/public/javascripts/help-fade.js"></script>
<script src="/public/javascripts/typeahead.jquery.min.js"></script>
