{% extends "application/layout.html" %}

{% block page_title %}Travelling now{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/alpha.html" %}

<div class="grid-row">

<section class="column-two-thirds" aria-labelledby="thirdparty">

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  {# <h1 class="form-title heading-large">&nbsp;</h1> #}

  <form action="travel-why" method="post" class="form" id="theForm" style="margin-top:30px">

    <input type="hidden" name="page_name" value="travel_why"/>
    <input type="hidden" name="multiple" value="0" id="multiple"/>

    <!-- HOW MANY HOURS -->
    <div class="form-group">

      <!-- WHY DO YOU NEED -->
      <div class="form-group">
        <label class="heading-large" for="reasons" id="">
          Why can't you carry on <span class="need"></span>?
        </label>
        <textarea class="form-control" id="reasons" name="reasons" style="margin-top:10px;"></textarea>
      </div>

      <!-- HOW MANY HOURS -->
      <fieldset class="inline">

        <label class="form-label-bold" for="full-name" id="full-name-label">
          How often does your work travel include <span class="need"></span>?
        </label>

        <p>Count each journey separately, eg if you go to and from work the same way, that would be 2 journeys a day.</p>

        <div class="form-group">
          <label class="form-label horizontal-right-label" for="currency-pound">
            <input type="text" class="form-control form-control-4-chars" id="currency-pound">times
          </label>
        </div>

        <div class="form-group">
          <label class="form-label">
            <select class="form-select">
              <option>a week</option>
              <option>a month</option>
              <!-- <option>a year</option> -->
            </select>
          </label>
        </div>

      </fieldset>

    </div>

    <fieldset class="primary-nav form-group">
		  <legend>Form Navigation</legend>
      <input type="submit" value="Continue" class="button" id="submitButton"/>
    </fieldset>

  </form>

</section><!-- .column-two-thirds -->

{% include "application/rightcol.html" %}

</div><!-- .grid-row -->

</main>

{% endblock %}
{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    // grab the count from the cookie (if it exists).
    var t = window.location.hash.substring(1);
    if (!t) t = 0;

    $('#multiple').val(t);

    // just put the first one on the page.
    var travel_count = t;
    var the_needs = Cookies.getJSON('travel_now');
    if (typeof the_needs == 'string') the_needs = [the_needs];
    var the_text = the_needs[travel_count];

    if (the_text == 'something else') the_text = Cookies.getJSON('travel_now_se_ask');
    $('.need').text(the_text);

    var form = $('form');

    $('#submitButton').on('click',function(e)
    {
      e.preventDefault();

      travel_count++;
      if (travel_count < the_needs.length)
      {
        Cookies.set('travel_count',travel_count);
        form.attr('action','travel-why#'+travel_count);
        form.submit();

      } else {

        form.attr('action','travel-not');
        form.submit();
      }
    });
  });
</script>
{% endblock %}
