{% extends PATH + "/inc/layout.html" %}

{% block staff_content %}

{# this is a macro: pass the id of the selected iteam. Code in inc/layout.html #}
{{ horizontal_nav('nav-cases') }}

<div class="container">

   <div class="grid-row">
       <div class="column-one-third">
          <div class="font-large mb30"><span class="bold-large">Adviser:</span> John Goldsmith</div>
             
       </div> <!-- COLUMN ONE THIRD -->
       <div class="column-two-thirds">
         
       </div> <!-- COLUMN TWO THIRDS -->
     
   </div> <!-- GRID ROW  -->

      <hr>

    <div class="grid-row">
      <div class="column-full">
       <form class="form" action="edit" method="post">
        <table class="zebra" sortable>
          <thead>
            <tr>
              <th>Name</th>
              <th>Specialism</th>
              <th>Case type</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
              <tr href="change-specialism" class="click_row">
                  <td>Oliver Reed</td>
                  <td>Pan disability</td>
                  <td>New application</td>
                  <td>22/05/2018</td>
              </tr>
                
              <tr href="change-specialism" class="data3 click_row">
                  <td>Jamie Jones</td>
                  <td>Pan disability</td>
                  <td>New application</td>
                  <td>22/05/2018</td>
              </tr>
   
              <tr href="change-specialism" class="">
                <td>Marcia Scholer</td>
                <td>Pan disability</td>
                <td>New application</td>
                    {% if data[ 'scenario']==='IS' %}
                    <td>IS</td>
                    {% else %}
                    <td>ESA</td>
                    {% endif %} {% if data['scenario']==='IS'%}
                    <td>Maintenance</td>
                    {% else %}
                    <td>STBA - New Claim</td>
                    {% endif %}
                    <td>Allocated</td>
                    <td>
                        <a href="#">View and update</a>
                    </td>
                    </tr>

                  <tr>
                        <td>
                            <span class="bold">59 mins</span>
                        </td>
                        <td>
                            <span class="font-small">Christine Dixon</span>
                            <br>
                            <span class="secondary-color">ZZ123456A</span>
                        </td>
                        <td>{% include "includes/v2/date.html" %}
                            <br>
                            <span class="secondary-color">10:56am</span>
                        </td>
                        {% if data[ 'scenario']==='IS' %}
                        <td>IS</td>
                        {% else %}
                        <td>ESA</td>
                        {% endif %} {% if data['scenario']==='IS'%}
                        <td>Maintenance</td>
                        {% else %}
                        <td>STBA - New Claim</td>
                        {% endif %} {% if data['callbackRequired']==='Yes' and data['callBackStatus'] !== 'First call failed - engaged' or data[
                        'scenario']==='agentChangeStatus'and data['callBackStatus'] !== 'First call failed - engaged'
                        %}
                        <td>First call pending</td>
                        {% elif data['callBackStatus']==='First call failed - engaged' %}
                        
                        <td>Second call pending</td>
                        {% elif data['edit']==='editHand' %}
                        <td>In Progress</td>
                        {% else %}
                        <td>Allocated</td>
                        {% endif %}
                        <td>
                            <a href="edit">View and update</a>
                        </td>
                    </tr>


                    <tr class="data2">
                        <td>
                            <span class="bold">1 hours 10mins</span>
                        </td>
                        <td>
                            <span class="font-small">Ian Jackson</span>
                            <br>
                            <span class="secondary-color">AA345678B</span>
                        </td>
                        <td>{% include "includes/v2/date.html" %}
                            <br>
                            <span class="secondary-color">11:06am</span>
                        </td>
                        {% if data[ 'scenario']==='IS' %}
                        <td>IS</td>
                        {% else %}
                        <td>ESA</td>
                        {% endif %}
                        <td>Ongoing appeal</td>
                        <td>Allocated</td>
                        <td>
                            <a href="#">View and update</a>
                        </td>
                    </tr>
                
                
                
                
                
                    {% else %}
                    <tr class="data1">
                        <td>
                            <span class="bold">59 mins</span>
                        </td>
                        <td>
                            <span class="font-small">Christine Dixon</span>
                            <br>
                            <span class="secondary-color">ZZ123456A</span>
                        </td>
                        <td>{% include "includes/v2/date.html" %}
                            <br>
                            <span class="secondary-color">10:56am</span>
                        </td>
                        {% if data[ 'scenario']==='IS' %}
                        <td>IS</td>
                        {% else %}
                        <td>ESA</td>
                        {% endif %} {% if data['scenario']==='IS' %}
                        <td>Maintenance</td>
                        {% else %}
                        <td>New Claim</td>
                        {% endif %} {% if data['callbackRequired']==='Yes' and data['callBackStatus'] !== 'First call failed - engaged' or data[
                        'scenario']==='agentChangeStatus'and data['callBackStatus'] !== 'First call failed - engaged'
                        %}
                        <td>First call pending</td>
                        {% elif data['callBackStatus']==='First call failed - engaged' %}
                        <td>Second call pending</td>
                        {% else %}
                        <td>Allocated</td>
                        {% endif %}
                        <td>
                            <a href="edit">View and update</a>
                        </td>
                    </tr>


                    <tr class="data2">
                        <td>
                            <span class="bold">1 hours 10mins</span>
                        </td>
                        <td>
                            <span class="font-small">Ian Jackson</span>
                            <br>
                            <span class="secondary-color">AA345678B</span>
                        </td>
                        <td>{% include "includes/v2/date.html" %}
                            <br>
                            <span class="secondary-color">11:06am</span>
                        </td>
                        {% if data[ 'scenario']==='IS' %}
                        <td>IS</td>
                        {% else %}
                        <td>ESA</td>
                        {% endif %}
                        <td>Ongoing appeal</td>
                        <td>Allocated</td>
                        <td>
                            <a href="#">View and update</a>
                        </td>
                    </tr>


                    {% endif%}

            </tbody>
        </table>
      </form> 
        <div class="grid-row">
            <div class="column-full" data-target="fetchWorkItem">
                <br>

                <button href="#" class="button append">Fetch next work item</button>
            </div>
        </div>

     </div><!-- column -->

    </div><!-- row -->

</div><!-- container -->

<script src="/public/javascripts/vendor/jquery-1.11.3.js"></script>

<script>
    var count = 0,
        $allDivs = $('.data1, .data2, .data3');
    $($allDivs).hide();
    $('.button').click(function () {
        if (count < $allDivs.length) {
            $allDivs.eq(count).show('slow');
            count++;
        }
    });
</script> 

{% endblock %}

