{% extends "index-layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="homepage-top">
  <div class="homepage-top-content">
    <h1 class="heading-xlarge">
      {{serviceName}}
      <span>Prototypes</span>
    </h1>
  </div>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


			{# Start of most recent box #}
      <div class="most-recent">
      			<h2 class="heading-large">These are the things we are currently testing</h2>
				{# Start of prototype write up #}
				<div class="prototype-write-up">
					<div class="grid-row">
						<div class="column-one-third">
							<dl>
								<dt class="heading-small">Date of prototype</dt>
								<dd>20 December 2017</dd>
							</dl>
						</div>

						<div class="column-one-third">
							<dl>
								<dt class="heading-small">Feature</dt>
								<dd>Award build and Payment screens</dd>
							</dl>
						</div>

						<div class="column-one-third">
							<dl>
								<dt class="heading-small">Prototype version</dt>
								<dd>V5</dd>
							</dl>
						</div>
					</div>

					<h3 class="heading-small">Hypothesis</h3>
					<p>
						If the award build screens options are in a drop down menu,
						then it will enable advisers to easily select the correct item to make an award, 
						because it will be clear which award will staisfy the application.
					</p>
					<p>
						If we make the award inputs relevant to each award item selection,
						then advisers will only enter the data needed for that item,
						because enetring data which is not needed will make efficiencies processing the application.
					</p>
					<p>
						If we put more information of the award details on payments views,
						then payments staff will be able to check the payments claim better,
						because having better information to check against the payments will reduce error and save time.	

					<h3 class="heading-small">Changes</h3>
					<p>
						Make each selection from the award drop down menu present a tailored input screen relevant to the option chosen.
					</p>
					<p>
						Explore and create input screens relevant to award item chosen fromt he drop down menu.
					</p>
					<p>
						Make the information on the payments screens relevant to the award item the customer has accepted an offer on.
						Add better payee deatils showing the live payee(s)
					</p>

					<h3 class="heading-small">Research notes</h3>
					<p>
						Designs have been tested with payments staff at Harrow and with SME's 
					</p>
					<p>
						Further work needed to improve the information on the live award views, bteer use of column headers in the table views
					</p>
					<p>
						More work needed on the payee deatils
					</p>

					<a href="/staff/v5/your_cases" class="button button-start">View prototype</a>
				</div>
				{# End of prototype write up #}

			</div>
			{# End of most recent box #}

	  <div class="panel panel-border-wide">
		  <p>
		    Return any feedback to your local Subject Matter Expert
		  </p>
	  </div>	
      <h2 class="heading-large">All versions</h2>
			{# Start of hidden panel #}
			<details>
				<summary><span class="summary">Show all versions</span></summary>
				<div class="panel panel-border-narrow">
					
					{# Start of prototype write up #}
					<div class="prototype-write-up">
						<div class="grid-row">
							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Date of prototype</dt>
									<dd>?? ?? 2017</dd>
								</dl>
							</div>

							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Feature</dt>
									<dd>Eligibility knockout</dd>
								</dl>
							</div>

							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Prototype version</dt>
									<dd>V4</dd>
								</dl>
							</div>
						</div>

						<h3 class="heading-small">Hypothesis</h3>
						<p>
							...
						</p>


						<h3 class="heading-small">Changes</h3>
						<p>
							If... then... because.
						</p>


						<h3 class="heading-small">Research notes</h3>
						<p>
							...
						</p>

						<a href="/staff/v4/your_cases" class="button button-start">View prototype</a>
					</div>
					{# End of prototype write up #}
					
					<hr />

					{# Start of prototype write up #}
					<div class="prototype-write-up">
						<div class="grid-row">
							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Date of protptype</dt>
									<dd>?? ?? 2017</dd>
								</dl>
							</div>

							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Feature</dt>
									<dd>Payment details</dd>
								</dl>
							</div>

							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Prototype version</dt>
									<dd>v3</dd>
								</dl>
							</div>
						</div>

						<h3 class="heading-small">Changes</h3>
						<p>
							...
						</p>


						<h3 class="heading-small">Hypothesis</h3>
						<p>
							If... then... because.
						</p>


						<h3 class="heading-small">Research notes</h3>
						<p>
							...
						</p>

						<a href="/staff/v3/your_cases" class="button button-start">View prototype</a>
					</div>
					{# End of prototype write up #}

					<hr />

					{# Start of prototype write up #}
					<div class="prototype-write-up">
						<div class="grid-row">
							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Date of prototype</dt>
									<dd>1 December 2017</dd>
								</dl>
							</div>

							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Feature</dt>
									<dd>Payment details</dd>
								</dl>
							</div>

							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Prototype version</dt>
									<dd>v2</dd>
								</dl>
							</div>
						</div>

						<h3 class="heading-small">Changes</h3>
						<p>
							...
						</p>


						<h3 class="heading-small">Hypothesis</h3>
						<p>
							If... then... because.
						</p>


						<h3 class="heading-small">Research notes</h3>
						<p>
							...
						</p>

						<a href="/staff/v2/unallocated" class="button button-start">View prototype</a>
					</div>
					{# End of prototype write up #}



				</div>
			</details>
			{# End of hidden panel #}


		</div>
  </div>
</main>

{% endblock %}


