{% extends "index-layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="homepage-top">
  <div class="homepage-top-content">
    <h1 class="heading-xlarge">
      {{serviceName}}
      <span>Prototypes</span>
    </h1>
  </div>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


			{# Start of most recent box #}
      <div class="most-recent">

				{# Start of prototype write up #}
				<div class="prototype-write-up">
					<div class="grid-row">
						<div class="column-one-third">
							<dl>
								<dt class="heading-small">Date of release</dt>
								<dd>1 January 2018</dd>
							</dl>
						</div>

						<div class="column-one-third">
							<dl>
								<dt class="heading-small">Feature</dt>
								<dd>Payment details</dd>
							</dl>
						</div>

						<div class="column-one-third">
							<dl>
								<dt class="heading-small">Related stories</dt>
								<dd>JIRA-123</dd>
							</dl>
						</div>
					</div>

					<h3 class="heading-small">Changes</h3>
					<p>
						In this version, we added the option to pay into a building society 
						account, on the payment details page.
					</p>


					<h3 class="heading-small">Hypothesis</h3>
					<p>
						If we add the ability to pay into building society accounts, 
						then we will see an increase in successful claims and a reduction in complaints, 
						because users with building society accounts will be able to complete the online journey.
					</p>


					<h3 class="heading-small">Research notes</h3>
					<p>
						Users did not see the button to switch to a building society account.
					</p>
					<p>
						When asked what they would do next, 3 out of 4 users said they would 
						phone up to complete their claim.
					</p>
					<p>
						More work is needed to improve the design of this feature.
					</p>

					<a href="/link-to-prototype" class="button button-start">View prototype</a>
				</div>
				{# End of prototype write up #}

			</div>
			{# End of most recent box #}


      <h2 class="heading-large">All versions</h2>
			{# Start of hidden panel #}
			<details>
				<summary><span class="summary">Show all versions</span></summary>
				<div class="panel panel-border-narrow">
					
					{# Start of prototype write up #}
					<div class="prototype-write-up">
						<div class="grid-row">
							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Date of release</dt>
									<dd>14 December 2017</dd>
								</dl>
							</div>

							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Feature</dt>
									<dd>Eligibility knockout</dd>
								</dl>
							</div>

							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Related stories</dt>
									<dd>JIRA-122</dd>
								</dl>
							</div>
						</div>

						<h3 class="heading-small">Changes</h3>
						<p>
							...
						</p>


						<h3 class="heading-small">Hypothesis</h3>
						<p>
							If... then... because.
						</p>


						<h3 class="heading-small">Research notes</h3>
						<p>
							...
						</p>

						<a href="/link-to-prototype" class="button button-start">View prototype</a>
					</div>
					{# End of prototype write up #}
					
					<hr />

					{# Start of prototype write up #}
					<div class="prototype-write-up">
						<div class="grid-row">
							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Date of release</dt>
									<dd>1 December 2017</dd>
								</dl>
							</div>

							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Feature</dt>
									<dd>Payment details</dd>
								</dl>
							</div>

							<div class="column-one-third">
								<dl>
									<dt class="heading-small">Related stories</dt>
									<dd>JIRA-121</dd>
								</dl>
							</div>
						</div>

						<h3 class="heading-small">Changes</h3>
						<p>
							...
						</p>


						<h3 class="heading-small">Hypothesis</h3>
						<p>
							If... then... because.
						</p>


						<h3 class="heading-small">Research notes</h3>
						<p>
							...
						</p>

						<a href="/link-to-prototype" class="button button-start">View prototype</a>
					</div>
					{# End of prototype write up #}

				</div>
			</details>
			{# End of hidden panel #}


		</div>
  </div>
</main>

{% endblock %}


