{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Access to work payments
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

	<h2 class="heading-xlarge">Prototypes</h2>




	<h2 class="heading-large">Payments designs</h2>
	<ul class="list-bullet">
		<li> <a href="/payments-v2/start">Payments journey - Version 2;</a> new prototype including feedbak from UR session 13/03/17</li>
		
		<li> <a href="/payments-v1/start">Payments journey - Version 1;</a> initial prototype for payments journey</li>
	</ul>

	<h2 class="heading-large">Payments Log in designs</h2>
	<ul class="list-bullet">
		<li> <a href="/payments_login_mobile_v1/start_page">Payments Log in mobile;</a> initial prototype for payments log in journey</li>
	</ul>
	<ul class="list-bullet">
		<li> <a href="/Payments_login_desktop_v1/Start_page">Payments Log in desktop;</a> initial prototype for payments log in journey</li>
	</ul>

    <h2 class="heading-medium">Examples and documentation</h2>

		<ul class="list list-bullet">
			<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
			<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
		</ul>

    <h2 class="heading-medium">Other resources</h2>

	<ul class="list list-bullet">
		<li>
			<a href="https://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK Elements
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

    </div>
  </div>
</main>

{% endblock %}


