{% extends "layout.html" %}

{% block content %}


<div class="index">

  <div class="index-page-banner">
    <div class="index-heading-wrapper">
      <h1 class="heading-xlarge index-heading-xlarge">Access To Work - Payments</h1>
      <h2 class="heading-large index-heading-large">Prototypes</h2>
    </div>
  </div>

</div>


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="latest-version">
      {% include "payments-v2/inc_index.html" %}
      </div>
      

      <div class="older-versions">
        <h3 class="heading-medium index-heading-medium">Older versions</h3>
        <details>
          <summary class="older-toggle">Toggle older versions</summary>

          <div>

            
            {% include "payments-v1/inc_index.html" %}
            {% include "Payments_login_desktop_v1/inc_index.html" %}
            {% include "payments_login_mobile_v1/inc_index.html" %}
            
          </div>
       
        </details>

      </div>

    </div>

  </div>
</main>

{% endblock %}
