{% extends "layout.html" %}

{% block page_title %}
  Index page - GOV.UK prototype kit
{% endblock %}

{% block content %}


<div class="index-page-banner">
  <div class="index-heading-wrapper">
    <h1 class="heading-xlarge index-heading-xlarge">Access To Work - payments claims</h1>
    <h2 class="heading-large index-heading-large">Prototypes</h2>
  </div>
</div>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      

      <div class="older-versions">
        <h3 class="heading-medium index-heading-medium">Older versions</h3>
        <details>
          <summary class="older-toggle">Toggle older versions</summary>
        
        </details>

      </div>

    </div>

  </div>
</main>

{% endblock %}
